{
  "converse" : {
    "default" : {
      "default" : [
      "Watch yourself.",
      "Don't get into trouble, and you'll have no trouble with me.",
      "Welcome to the Blubberbutt's fold.",
      "Just stick your face into some food and you'll be fine.",
      "You're lucky the Blubberbutt has allowed others in here.",
      "Allign with us and you'll be sitting quite comfy.",
      "You can pass through, stranger. Just don't cause any trouble.",
      "Remember, Throgs are strong.",
      "I got my optics on you!"
      ],
      "throg" : [
      "Welcome to the Hog Diner!",
      "Don't mind the non-throgs. Blubberbutts orders they can mingle with us.",
      "Food's to the right if you're starving.",
      "Exploration going good out there?",
      "A Throg on an important mission eh?",
      "Glorious to be in the grace of the Blubberbutt, isn't it?",
      "If you eat one of the other races, I won't mind.",
      "Glory to the Blubberbutt!",
      "May your gut be vast."
      ]
    }
  }
}