{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You returned!",
        "Aha!",
        "You came back?",
        "So you came back."
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. You will regret returning.",
        "Aggressive. This time you will not escape.",
        "Fearless. I am eager to consume you once again!",
        "Glad. Are you so eager to be eaten?",
        "Impassioned. You have returned only to be consumed!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran wasss getting hungry!",
        "Hello again, prey.",
        "Sssnack came back!",
        "Floran will ssswallow you this time!",
        "The prey came back!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    },
    "apex" : {
      "default" : [
        "Hostiles!",
        "Engaging hostiles!",
        "Hostiles attacking!",
        "Assemble formation!",
        "Hostile activity!",
        "Engaging hostiles! Send reinforcements!",
        "Enemy engaged!"
      ]
    },
    "avian" : {
      "default" : [
        "Caaaw!",
        "Chachalacaaa!",
        "Anhingaaa!",
        "Jocotoco!.",
        "Tapacuuulo!",
        "Caracaraaa!",
        "Cacique!"
      ]
    },
    "floran" : {
      "default" : [
        "Sssupper!",
        "Time to ssstab! Time to feassst!",
        "Hunt the prey!",
        "Get it!",
        "Sssnack! Ssswallow it!",
        "Catch it! Eat it!",
        "Floran hunt!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. A meal!",
        "Pugnacious. Have at thee!",
        "Calm. You will not easily overcome my stomach.",
        "Daring. To battle!",
        "Courageous. I shall consume this foe!",
        "Eager. You have breathed your last!",
        "Aggressive. Prepare to lose your life!"
      ]
    },
    "hylotl" : {
      "default" : [
        "There is honour in battle.",
        "Begin the dance of war!",
        "I wield the might of the storm!",
        "You'd do better to fight the maelstrom than to resist me.",
        "I shall strike like lightning!",
        "I will rain down a torrent upon you.",
        "I will fight with honour!"
      ],

      "floran" : [
        "I will take revenge for my ancestors!",
        "I have trained to consume Floran!",
        "I will digest the Floran barbarian, and honour my forebears!"
      ]
    },
    "human" : {
      "default" : [
        "You're nothing but meat!",
        "Let's get this over with!",
        "I'm not much of a fighter...",
        "Uh-oh...",
        "You should go down easy!",
        "How am I meant to stick with my diet if I'm always ending up in situations like this?",
        "Let's get this over with, I'm hungry.",
        "Be warned, I bite!",
        "Let's do this!",
        "You won't know what hit you!"
      ]
    },
    "novakid" : {
      "default" : [
        "Time for an ol'-fashioned chowdown!",
        "Yee-haw, here we go!",
        "let's ride!",
        "Yer feelin' lucky, punk?",
        "Time for a ruckus!",
        "Fill your hands!",
        "If you're lookin' for trouble, then I'm your huckleberry!",
        "I ain't got time for this!",
        "I've got a stronger stomach than you, friend!",
        "You ain't my first meal!",
        "Bang!",
        "We don't want no trouble round here!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Never mess with me!",
        "Victory!",
        "Phew!",
        "Another victory!",
        "I didn't even break a sweat!",
        "Heh.",
        "Of course I won!",
        "I'm pretty good at this!",
        "That was stressful...",
        "Another easy meal!",
        "Yes!",
        "That's what you get!"
      ]
    },
    "avian" : {
      "default" : [
        "Never challenge an Avian.",
        "You'll now become part of a true warrior.",
        "My antagonists are so readily subdued...",
        "I was born to eat.",
        "I didn't even lose a feather.",
        "That's the consequence of testing an Avian's hunger.",
        "A respectable effort on their part.",
        "Easy work."
      ]
    },
    "apex" : {
      "default" : [
        "Target subdued.",
        "Area secure.",
        "Problem solved.",
        "It is so unwise to mess with an Apex.",
        "Threat neutralised.",
        "The enemy has been dealt with.",
        "Target consumed.",
        "Target dissolved!",
        "All done. I think I've earned a banana.",
        "The target has been neutralised!"
      ]
    },
    "hylotl" : {
      "default" : [
        "The struggle is over...",
        "What's done is done.",
        "I must savour this repast.",
        "An toothsome banquet.",
        "An appetising meal in the defense of my culture.",
        "It is done.",
        "You will serve my stomach well."
      ]
    },
    "glitch" : {
      "default" : [
        "Satisfied. Another victory!",
        "Gratified. Another job well done.",
        "Excited. That was delectable!",
        "Exhausted. I'll need to get some exercise after this.",
        "Pleased. What a feast.",
        "Happy. A marvelous meal!",
        "Proud. What an excellent display of my own skill."
      ]
    },
    "floran" : {
      "default" : [
        "That was fun. What should Floran do now..?",
        "Floran is the best hunter in hissstory!",
        "Now Floran has nothing to do...",
        "Floran winsss!",
        "Floran isss the best!",
        "That was fun!",
        "Did it!",
        "Floran enjoyed that."
      ]
    },
    "novakid" : {
      "default" : [
        "I need a glass o' root pop after all that.",
        "I'm a natural winner at eatin', what can I say?",
        "Well wasn't that a right ol' rodeo?",
        "Yee-haw! That was somethin'."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will get you one day!",
        "I'm still hungry!",
        "Come back!",
        "Where are you...",
        "What a hassle.",
        "Just you wait!"
      ]
    },
    "glitch" : {
      "default" : [
        "Embarrassed. I lost my meal...",
        "Thoughtful. What am I doing with my life?",
        "Bored. Now what am I going to do?",
        "Sour. Good riddance.",
        "Hopeful. Um... Come back?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran will go hunt ssomething else.",
        "When they get back, they'll get a ssstabbing...",
        "Floran will find ssomeone else to eat.",
        "Floran's not given up! Just not sure what to do next...",
        "Floran hungry... maybe prey come back."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Sneaky! This is sneaky! How did you disappear?",
        "They're getting away!",
        "Where'd you go?",
        "Get back here!",
        "How did this happen?"
      ]
    },
    "glitch" : {
      "default" : [
        "Patient. I'll just wait here 'til you come back.",
        "Frustrated. I know you're here somewhere!",
        "Confused. Where did they go?",
        "Uncertain. Wasn't I fighting someone a second ago?",
        "Enraged. How did you disappear!?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran iss good hunter! Prey won't sstay hidden for long!",
        "Floran sstill smells the prey!",
        "Wily prey is hiding!",
        "... Floran can't find you.",
        "Where is the ssneaky thing?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "How did you get over there?",
        "I can't reach!"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. They are beyond my reach!",
        "Angry. Come here!",
        "Frustrated. Why didn't I bring a crossbow?",
        "Sullen. How can you feed me I can't reach you?",
        "Irate. Come closer, I'm famished!"
      ]
    },
    "floran" : {
      "default" : [
        "They're too far away to ssswallow!",
        "Floran can't reach!",
        "Come clossser!",
        "Trickssy prey is out of reach!",
        "Floran not clossse enough!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I have a plan!",
        "Get them!",
        "Everybody is in my way.",
        "Why aren't they already eaten?",
        "Come on!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. Swallow them down!",
        "Commanding. Get them!",
        "Enthusiastic. Get the foe!",
        "Goading. Why isn't this foe already eaten?",
        "Selfish. I want to eat it!"
      ]
    },
    "floran" : {
      "default" : [
        "Sssave some for me!",
        "Get the prey!",
        "Floran is so happy to be part of thiss.",
        "Get it!",
        "Floran excited!"
      ]
    }
  }
}
