{
  "default": {
    "weightGain": false,
    "fullbright": false,

    "weight": 120,
    "nutritionRatio": 0.5,
    "experience": 50
  },
  "apex": { "weightGain": true },
  "avian": { "weightGain": true },
  "fenerox": { "weightGain": true },
  "floran": { "weightGain": true },
  "glitch": { "weightGain": true },
  "harpy": { "weightGain": true },
  "human": { "weightGain": true },
  "hylotl": { "weightGain": true },
  "mootant": { "weightGain": true },
  "penguin": { "weight": 50 },
  "novakid": { "weightGain": true, "fullbright": true, "overrideDirectives": "?replace;ffffff=fffffffe;" },
  "shadow": { "weightGain": true, "nutritionRatio": 0 },
  "throg": { "weightGain": true }
}

// EXAMPLE
// This would make the 'human' species use the 'avian' species' fat sprites instead,
// and apply some directives so that the avian sprite colours match the player's directives.
// When eaten by another entity, they would also take up 120 'space' in their stomach, and give:
// 12 food (weight * nutritionRatio)
// 108 bloat (weight * (1 - nutritionRatio))
// 50 experience points
//
//  "human": {
//    "weightGain": true,
//    "override": "avian",
//    "overrideDirectives": "?replace;6f2919=951500;a85636=be1b00;e0975c=dc1f00;ffca8a=f32200;951500=c7815b;be1b00=d39c6c;dc1f00=ffc181;f32200=ffe2c5;",
//
//    "weight": 120,
//    "nutritionRatio": 0.1,
//    "experience": 50
//  }
