[
  {
    "size": "",
    "weight": 0,
    "movementPenalty": 0,
    "healthBonus": 0,
    "threshholdMultiplier": 1,
    "variants": [
      "busty", "milky", "hyper",
      "saturated", "stuffed", "packed", "filled", "glutted", "gorged"
    ],
    "controlParameters": { "default": {} }
  },
  {
    "size": "soft",
    "weight": 25,
    "movementPenalty": 0.025,
    "healthBonus": 0.1,
    "threshholdMultiplier": 1,
    "variants": [
      "busty", "milky", "hyper",
      "stuffed", "packed", "filled", "glutted", "gorged"
    ],
    "controlParameters": { "default": {} }
  },
  {
    "size": "thick",
    "weight": 100,
    "movementPenalty": 0.1,
    "healthBonus": 0.25,
    "threshholdMultiplier": 1.1,
    "variants": [
      "busty", "milky", "hyper",
      "stuffed", "packed", "filled", "gorged"
    ],
    "controlParameters": { "default": {
      "standingPoly": [[-1, -2.0], [-0.6, -2.5], [0.6, -2.5], [1, -2.0], [1, -1.45], [0.75, -0.55], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, -0.55], [-1, -1.45]],
      "crouchingPoly": [[-1.0, -2.0], [-0.6, -2.5], [0.6, -2.5], [1.0, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
    }}
  },
  {
    "size": "chubster",
    "weight": 500,
    "movementPenalty": 0.25,
    "healthBonus": 0.5,
    "threshholdMultiplier": 1.25,
    "variants": [
      "busty", "milky", "hyper",
      "stuffed", "filled", "gorged"
    ],
    "controlParameters": { "default": {
      "standingPoly": [[-1.25, -2.0], [-0.7, -2.5], [0.7, -2.5], [1.25, -2.0], [1.25, -0.95], [1.25, -0.45], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-1.25, -0.45], [-1.25, -0.95]],
      "crouchingPoly": [[-1.25, -2.0], [-0.7, -2.5], [0.7, -2.5], [1.25, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
    }}
  },
  {
    "size": "plump",
    "weight": 1250,
    "movementPenalty": 0.4,
    "healthBonus": 1,
    "threshholdMultiplier": 1.5,
    "variants": [
      "busty", "milky", "hyper",
      "stuffed", "filled", "gorged"
    ],
    "controlParameters": { "default": {
      "standingPoly": [[-1.6, -2.0], [-1.0, -2.5], [1.0, -2.5], [1.6, -2.0], [1.6, -0.95], [1.6, -0.25], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-1.6, -0.25], [-1.6, -0.95]],
      "crouchingPoly": [[-1.6, -2.0], [-1.0, -2.5], [1.0, -2.5], [1.6, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
    }}
  },
  {
    "size": "fatty",
    "weight": 2500,
    "movementPenalty": 0.5,
    "healthBonus": 2,
    "threshholdMultiplier": 2,
    "variants": [
      "busty", "milky", "hyper",
      "stuffed", "filled", "gorged"
    ],
    "controlParameters": { "default": {
      "standingPoly": [[-2.5, -2.0], [-1.9, -2.5], [1.9, -2.5], [2.5, -2.0], [2.5, -0.95], [2.2, -0.25], [1.6, -0.05], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-1.6, -0.05], [-2.2, -0.25], [-2.5, -0.95]],
      "crouchingPoly": [[-2.5, -2.0], [-1.9, -2.5], [1.9, -2.5], [2.5, -2.0], [2.5, -1], [1.9, -0.5], [-1.9, -0.5], [-2.5, -1]]
    }}
  },
  {
    "size": "blob",
    "weight": 5000,
    "movementPenalty": 0.75,
    "healthBonus": 4,
    "threshholdMultiplier": 1,
    "variants": [],
    "isBlob": true,
    "controlParameters": { "default": {
      "standingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]],
      "crouchingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]],
      "maximumCorrection": 15
    }}
  },
  {
    "size": "immobile",
    "weight": 7500,
    "movementPenalty": 1,
    "healthBonus": 9,
    "threshholdMultiplier": 1,
    "variants": [],
    "isBlob": true,
    "controlParameters": { "default": {
      "standingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]],
      "crouchingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]],
      "maximumCorrection": 15
    }}
  }
]
