{
  "tabs": [
    {
      "id": "active",
      "pretty": "Active Effects",
      "description": "This menu shows all the currently active curses.\n\nClick on a curse to check its effects, buffs and debuffs.\n\nTo remove a curse, interact with NPC (WIP) in the Outpost.",
      "paneTitle": "Active Effects"
    },
    {
      "id": "codex",
      "pretty": "Effect Codex",
      "description": "This menu all the curses you discovered so far!\n\nClick on a curse to check its effects, buffs and debuffs, as well as its tiers.",
      "paneTitle": "Discovered effects"
    }
  ],
  "effects": {
    // Generic effects (From 'normal' stuff)
    "stomachStretch": {
      "levels": 10,
      "pretty": "Stretched Stomach",
      "particle": true,
      "description": "Over stuffing your stomach has caused it to stretch, granting ^#f96aa6;bonus capacity^reset; at the cost of ^#f96aa6;increased strain^reset;.",
      "note": "Obtained by filling up your stomach an excessive amount.",
      "stats": [
        ["capacity", "mult", 1.05, 0.05],
        ["strainedPenalty", "add", 0.1, 0.1]
      ],

      "duration": 180,
      "expirePerLevel": true
    },
    "caloriumExtractor": {
      "levels": 10,
      "pretty": "Calorically Drained",
      "type": "negative",
      "particle": true,
      "description": "Rapidly removing fat has drained you of nutrients, ^#d5ab36;reducing food restored^reset;, ^#d5ab36;increasing hunger^reset;, and ^#1a87ed;decreasing movement^reset;.",
      "note": "Obtained by extracting fat with the Calorium Extractor.",
      "stats": [
        ["foodValue", "mult", 0.95, -0.05],
        ["hunger", "add", 0.05, 0.05],
        ["movement", "sub", 0.02, 0.02]
      ],

      "duration": 600
    },
    "treadmill": {
      "levels": 3,
      "pretty": "Corpulent Cardio",
      "type": "positive",
      "particle": true,
      "description": "Exercising has improved your endurance, granting you ^#1a87ed;bonus movement^reset;.",
      "note": "Obtained by losing weight on the treadmill.",
      "stats": [
        ["movement", "add", 0.05, 0.025]
      ],

      "duration": 600
    }

  //"example": {
  //  "levels": 3,
  //  "pretty": "Example Effect",
  //  "type": "negative",
  //  "particle": true,
  //  "description": "Does example stuff.",
  //  "note": "Obtained by looking at this example.",
  //  "stats": [
  //      ["stat1", "add"/"sub"/"mult", baseAmount, incrementAmount],
  //      ["stat2", "add"/"sub"/"mult", baseAmount, incrementAmount],
  //      ["stat3", "add"/"sub"/"mult", baseAmount, incrementAmount]
  //  ],
  //  "duration": seconds
  //}
  }
}
