{
	"settings": {
		"modules": {
			"default": ["sound"],
			"player": ["statuses", "exercise", "lactating", "hunger", "sloshing", "drinking", "respawn", "blob", "tracking", "pizza", "debug", "oSB"],
			"npc": ["statuses", "exercise", "lactating"],
			"monster": []
		},
		"thresholds": {
			"stomach": [
				// name: <variant>, amount: <minimum contents for variant>
				{"name": "saturated", "amount": 20},
				{"name": "stuffed", "amount": 40},
				{"name": "packed", "amount": 60},
				{"name": "filled", "amount": 80},
				{"name": "glutted", "amount": 100},
				{"name": "gorged", "amount": 150}
			],
			"breasts": [
				// name: <variant>, amount: <minimum contents for variant>
				{"name": "busty", "amount": 20},
				{"name": "milky", "amount": 30}
			],
			"strain": {
				// Should change the range in the the status effects if you end up patching these.
				"starpoundsstomach": 1,
				"starpoundsstomach2": 2,
				"starpoundsstomach3": 3
			}
		},
		// Weight cap
		"maxWeight": 10000,
		// Base Stomach Capacity. Probably don't change this unless you also change the base hunger stat.
		"stomachCapacity": 70,
		// Experience amount and percent increase per level.
		"experienceAmount": 100,
		"experienceIncrement": 0.1,
		// Bonus experience for food rarity.
		"foodExperienceBonus": {"common": 0, "uncommon": 0.25, "rare": 0.5, "legendary": 0.75, "essential": 1},
		// scalingSize: Index for the size for when scaling effects are maxed. (Such as ice/poison resistance, throg sphere protection, etc)
		// activationSize: Index for the size for when some effects activate. (Such as ice/poison effect immunity)
		"scalingSize": 6, // Default, Soft, Thick, Chubster, Plump, [Fatty], Blob, Immobile
		"activationSize": 4, // Default, Soft, Thick, [Chubster], Plump, Fatty, Blob, Immobile
		// Minimum multiplier for speed stat when not on the ground. (Affects things like air/liquid movement, and some techs)
		"minimumAltSpeedMultiplier": 0.05,
		// Minimum multiplier for jumps. (Tiny amount to activate jump techs, and for immobile players)
		"minimumJumpMultiplier": 0.2,
		// Minimum multiplier for swimming. (Immobile players have a tiny bit of mobility in water)
		"minimumSwimMultiplier": 0.1,
		// How often to clear the starpounds stat cache.
		"statCacheTimer": 0.25,
		// How often to refresh applied vanilla stats. (Such as health/hunger/etc)
		"statRefreshTimer": 0.5,
		// How often to tick down effect durations, and check for conditions.
		"effectTimer": 0.25,
		// How often to run a digestion tick.
		"digestTimer": 0.1,
		// Average gurgle time, and minimum amount of time to pass before another gurgle can happen.
		"gurgleTime": 30,
		"minimumGurgleTime": 5,
		// Average rumble time, and minimum amount of time to pass before another rumble can happen.
		"rumbleTime": 15,
		"minimumRumbleTime": 3,
		// Belch pitch range. Gender modifiers increase the total range by a flat amount.
		"belchPitch": [0.9, 1.2],
		"belchGenderModifiers": {"male": -0.1, "female": 0.1},
		"belchAlertRadius": 20,  // The radius for alerting enemies when belching.
		// Base digestion healing:food ratio, ratio for energy skill, and caps (% max)/second
		"healingRatio": 1,
		"healingCap": 0.05,
		"energyRatio": 10,
		"energyCap": 0.5,
		// Vore stuffs.
		"voreCooldown": 2, // Base vore tool cooldown.
		"voreEnergy": 30, // How much energy it takes to eat an entity. (Scales with size)
		"voreEnergyBase": 5, // Base amount of energy it takes to eat an entity.
		"voreHeartbeat": 0.5, // How often to 'confirm' with pred that the entity is actually eaten.
		"voreDigestTimer": 0.25, // How often a pred will run a digestion tick.
		"voreUnescapableHealth": 0.25, // HP threshold for being unable to escape. (Non-players)
		"vorePlayerEscape": 0.1, // Chance for a player to escape on a struggle no matter what.
		"vorePlayerBreathMultiplier": 0.5, // How fast players lose air when eaten. (Compared to normal breath depletion rate)
		"voreStruggleEnergyBase": 5, // How much base energy any struggles reduce.
		"voreStruggleEnergy": 25, // How much energy (affected by struggle chance) struggles reduce.
		"voreStruggleEnergyLock": 0.25, // Multiplier for normal energy lockout time struggles cause. (when out of energy)
		"voreMonsterFood": 20, // How much food per 'block' of entity space monsters cause when eaten. Also affected by the preyMonster food type.
		"voreMonsterFoodCap": 250, // Maximum food a monster can give.
		"voreMonsterStruggleMultiplier": 0.75, // Multiplier for monster struggles. (Same base scaling as NPCs, but set lower here because they're 'weaker' for vore purposes)
		"voreCritterStruggleMultiplier": 0.25, // Multiplier for critter struggles.
		"voreCritterEnergyMultiplier": 0.25, // Energy multiplier for eating critters. (Does not affect base eating cost)
		// Behaviours to check for in monsters when attempting to eat.
		// If you add something here, you need to patch the actual behaviour file too.
		"critterBehaviors": ["blooping", "flyingcritter", "swimming", "walkingcritter", "farmablebaby"],
		"monsterBehaviors": ["monster", "farmable", "thea-monster-passive" ],
		// Capped size indexes for vehicles so your fat ass doesnt hang out.
		"vehicleSizeCap": {
			"modularmech": 4,
			"dropship": 4,
			"minitank": 4,
			"hoverbikekhaki": 4,
			"hoverbikered": 4,
			"hoverbikegreen": 4,
			"jeep": 4,
			"humanmech": 4,
			"apexmech": 4,
			"glitchmech": 4
		},
		"particleTemplates": {
			"belch": {
				"type": "ember",
				"size": 1.25,
				"color": [60, 150, 224, 200],
				"position": [0, 0],
			  "destructionAction": "shrink",
			  "destructionTime": 0.2,
				"layer": "middle",
				"timeToLive": 0.5,
				"finalVelocity": [0, 0],
				"approach": [5, 0],
				"variance": {"initialVelocity": [5, 3], "size": 0.25, "timeToLive": 0.25}
			},
			"vore": {
				"type": "ember",
				"size": 1,
				"color": [255, 255, 255], // This gets changed in the script
				"position": [0, 0],
				"destructionAction": "fade",
				"destructionTime": 0.25,
				"layer": "middle",
				"variance": {"initialVelocity": [2, 2], "size": 0.5, "timeToLive": 0.05}
			},
			"effect": {
				"type": "ember",
				"size": 1,
				"color": [255, 157, 210, 128],
				"light": [82, 20, 53],
				"position": [0, 0],
				"initialVelocity": [0, 1],
				"finalVelocity": [0, 10],
				"approach": [0, 10],
				"destructionAction": "shrink",
				"destructionTime": 0.2,
				"fade": 1,
				"layer": "back",
				"fullbright": true,
				"timeToLive": 0.1,
				"variance": {
					"position": [1, 2],
					"initialVelocity": [2, 1],
					"size": 0.5,
					"timeToLive": 0.1
				}
			}
		}
	},
	"baseData": {
		"enabled": true,
		"weight": 0,
		"stomachContents": {},
		"stomachLerp": 0,
		"stomachEntities": [],
		"breasts": 0,
		"breastType": "milk",
		"level": 0,
		"experience": 0,
		"options": {},
		"optionMultipliers": {},
		"optionOverrides": {},
		"stats": {},
		"traitStats": {},
		"skills": {},
		"accessory": null,
		"effects": {},
		"discoveredEffects": {}
	}
}
