{
  "selectableTraits": [
    "bubbly",
    "celestial",
    "glutton",
    "insulated",
    "milky",
    "predator",
    "scaled",
    "scavenger",
    "stalwart",
    "voltaic",
    "whale"
  ],
  "traits": {
    "default": {
      "description": "Default",
      "weight": 0,
      "breasts": 0,
      "experience": 0,
      "skills": [],
      "items": []
    },
    "none": {
      "idOverride": "default",
      "description": "None",
      "experience": 15
    },
    // Unique (~30 XP worth)
    "bubbly": {
      "description": "Bubbling",
      "skills": [
        ["digestion", 3],
        ["gurgleRate", 3],
        ["belchChance", 3]
      ]
    },
    "celestial": {
      "description": "Celestial",
      "skills": [
        ["deathPenalty", 2],
        ["fallDamageResistance", 2],
        ["healing", 2]
      ]
    },
    "glutton": {
      "description": "Glutton",
      "weight": 400,
      "skills": [
        ["wellfedProtection", 1]
      ]
    },
    "insulated": {
      "description": "Insulated",
      "weight": 600,
      "skills": [
        ["iceResistance", 3]
      ]
    },
    "milky": {
      "description": "Milky",
      "breasts": 10,
      "skills": [
        ["breastProduction", 3],
        ["breastCapacity", 2],
        ["breastEfficiency", 1]
      ]
    },
    "predator": {
      "description": "Predator",
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1]
      ],
      "items": ["voretool"]
    },
    "scaled": {
      "description": "Scaled",
      "weight": 600,
      "skills": [
        ["firePenalty", 3]
      ]
    },
    "scavenger": {
      "description": "Scavenger",
      "skills": [
        ["hungerReduction", 2],
        ["preventStarving", 1],
        ["voreCritter", 1]
      ],
      "items": ["voretool"]
    },
    "stalwart": {
      "description": "Stalwart",
      "weight": 1000,
      "skills": [
        ["health", 5],
        ["knockbackResistance", 3]
      ]
    },
    "voltaic": {
      "description": "Voltaic",
      "skills": [
        ["digestionEnergy", 5]
      ]
    },
    "whale": {
      "description": "Landwhale",
      "weight": 2000,
      "skills": [
        ["absorption", 5],
        ["metabolismReduction", 3]
      ]
    },
    // Species (~25 XP worth)
    "apex": {
      "description": "Apex",
      "skills": [
        ["movement", 4],
        ["digestionEnergy", 3]
      ]
    },
    "avian": {
      "description": "Avian",
      "skills": [
        ["movement", 5],
        ["fallDamageResistance", 2]
      ]
    },
    "floran": {
      "description": "Floran",
      "skills": [
        ["capacity", 5],
        ["digestion", 3],
        ["voreCritter", 1]
      ]
    },
    "glitch": {
      "description": "Glitch",
      "skills": [
        ["health", 5],
        ["knockbackResistance", 2]
      ]
    },
    "human": {
      "description": "Human",
      "experience": 5,
      "skills": [
        ["experienceMultiplier", 2]
      ]
    },
    "hylotl": {
      "description": "Hylotl",
      "skills": [
        ["absorption", 4],
        ["health", 4],
        ["healing", 1]
      ]
    },
    "novakid": {
      "description": "Novakid",
      "skills": [
        ["digestion", 4],
        ["digestionEnergy", 3]
      ]
    },
    // StarPounds species (~60XP)
    "throg": {
      "description": "Throg",
      "weight": 400,
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["wellfedProtection", 1]
      ],
      "items": ["voretool"]
    },
    "mootant": {
      "description": "Mootant",
      "weight": 80,
      "breasts": 25,
      "skills": [
        ["absorption", 3],
        ["breastProduction", 3],
        ["breastCapacity", 3],
        ["breastEfficiency", 3]
      ]
    },
    // NPCs
    "npc_gluttonistChampion": {
      "description": "Gluttonist Champion",
      "skills": [
        ["absorption", 20],
        ["capacity", 20],
        ["digestion", 20],
        ["health", 20],
        ["movement", 20],
        ["gurgleRate", 5],
        ["gurgleAmount", 5],
        ["bloatDigestion", 5],
        ["bloatAmount", 3],
        ["healing", 5],
        ["knockbackResistance", 5],
        ["poisonResistance", 3],
        ["strainedPenalty", 5],
        ["wellfedProtection", 1],
        ["preventImmobile", 1],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["regurgitateSlimeStatus", 1],
        ["struggleResistance", 5],
        ["voreDamage", 5]
      ]
    },
    "npc_gluttonistVeteran": {
      "description": "Gluttonist Veteran",
      "skills": [
        ["absorption", 10],
        ["capacity", 10],
        ["digestion", 10],
        ["health", 15],
        ["movement", 10],
        ["gurgleRate", 3],
        ["gurgleAmount", 3],
        ["bloatDigestion", 3],
        ["healing", 3],
        ["knockbackResistance", 3],
        ["poisonResistance", 1],
        ["strainedPenalty", 3],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["struggleResistance", 3],
        ["voreDamage", 5]
      ]
    },
    "npc_gluttonist": {
      "description": "Gluttonist",
      "skills": [
        ["absorption", 5],
        ["capacity", 5],
        ["digestion", 5],
        ["health", 10],
        ["movement", 5],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreDamage", 3]
      ]
    },
    "npc_predator": {
      "description": "Voracious",
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["strainedPenalty", 5]
      ]
    },
    "npc_alphaPredator": {
      "description": "Voracious",
      "skills": [
        ["absorption", 20],
        ["capacity", 20],
        ["digestion", 20],
        ["health", 20],
        ["movement", 20],
        ["gurgleRate", 5],
        ["gurgleAmount", 5],
        ["bloatDigestion", 5],
        ["bloatAmount", 3],
        ["healing", 5],
        ["knockbackResistance", 5],
        ["strainedPenalty", 5],
        ["wellfedProtection", 1],
        ["preventImmobile", 1],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["regurgitateSlimeStatus", 1],
        ["struggleResistance", 5],
        ["voreDamage", 5]
      ]
    }
  }
}
