{
  "default": {
    "digestionStats": [["digestion", 1]], // Stats that affect the rate of digestion. Formatted as ["statName", mult].
    "amountStats": [], // List of stats that affect the amount of food applied.
    "maxCapacity": null, // Max percent of capacity (1 = 100%) the food type can occupy.
    "ignoreCapacity": null, // Is not affected by/doesn't share digestion with other food types taking up capacity.
    "triggersBelch": null, // Whether this food type causes belching.

    "digestionRate": 1, // Flat amount of food digested per second.
    "percentDigestionRate": 0.01, // Percent amount of food digested per second. Actual amount slightly higher when compounded at the tick rate.

    "multipliers": {
      "food": 1, // Hunger restored.
      "weight": 1, // Weight gained.
      "capacity": 1, // Capacity reduced.
      "healing": 1, // Health restored.
      "belch": 0, // Effectiveness of belching.
      "experience": 0 // Experience gained.
    }
  },
  // Food items.
  "foodItem": {
    "digestionStats": [["digestion", 1]],
    "amountStats": [],

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": { // Food items take up less stomach space.
      "food": 1, "weight": 1, "capacity": 0.5, "healing": 1, "belch": 0,
      "experience": 1
    }
  },
  "drinkItem": {
    "digestionStats": [["digestion", 1]],
    "amountStats": [],
     // Liquids digest faster.
    "digestionRate": 1.5,
    "percentDigestionRate": 0.015,

    "multipliers": {
      "food": 1, "weight": 1, "capacity": 0.5, "healing": 1, "belch": 0,
      "experience": 1
    }
  },
  "foodItem_noExperience": { // Used for infinite food generation objects.
    "digestionStats": [["digestion", 1]],
    "amountStats": [],

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 1, "weight": 1, "capacity": 0.5, "healing": 1, "belch": 0,
      "experience": 0
    }
  },
  "drinkItem_noExperience": {
    "digestionStats": [["digestion", 1]],
    "amountStats": [],
     // Liquids digest faster.
    "digestionRate": 1.5,
    "percentDigestionRate": 0.015,

    "multipliers": {
      "food": 1, "weight": 1, "capacity": 0.5, "healing": 1, "belch": 0,
      "experience": 0
    }
  },
  "hugeFood": { // Double weight gain and belly size.
    "digestionStats": [["digestion", 1]],
    "amountStats": [],
     // No % digest, but faster flat amount.
    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 1, "weight": 2, "capacity": 2, "healing": 1, "belch": 0,
      "experience": 1
    }
  },
  "bonusExperience": {
    "digestionStats": [["digestion", 1.0]],
    "amountStats": [],
    "ignoreCapacity": true,

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 0, "healing": 0, "belch": 0,
      "experience": 1
    }
  },
  // Liquids.
  "liquid": {
    "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
    "amountStats": [],
    "triggersBelch": true,
     // Liquids digest faster.
    "digestionRate": 1.5,
    "percentDigestionRate": 0.015,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 0.5, "healing": 0, "belch": 0.25,
      "experience": 0
    }
  },
  "liquidFood": {
    "digestionStats": [["digestion", 1]],
    "amountStats": [],
     // Liquids digest faster.
    "digestionRate": 1.5,
    "percentDigestionRate": 0.015,

    "multipliers": {
      "food": 1, "weight": 1, "capacity": 0.5, "healing": 1, "belch": 0,
      "experience": 0.1
    }
  },
  "liquidFood_noExperience": {
    "digestionStats": [["digestion", 1]],
    "amountStats": [],
     // Liquids digest faster.
    "digestionRate": 1.5,
    "percentDigestionRate": 0.015,

    "multipliers": {
      "food": 1, "weight": 1, "capacity": 0.5, "healing": 1, "belch": 0,
      "experience": 0
    }
  },
  // Other.
  "bloat": {
    "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
    "amountStats": ["bloatAmount"],
    "maxCapacity": 3, // Maxes out all tiers of the stomach, but doesn't scale infinitely.
    "triggersBelch": true,
     // No % digest, but faster flat amount.
    "digestionRate": 3,
    "percentDigestionRate": 0,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 1, "healing": 0, "belch": 1,
      "experience": 0
    }
  },
  "air": { // Same as bloat, but barely digests outside of belches.
    "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
    "amountStats": ["bloatAmount"],
    "maxCapacity": 3, // Maxes out all tiers of the stomach, but doesn't scale infinitely.
    "triggersBelch": true,

    "digestionRate": 0.1,
    "percentDigestionRate": 0,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 1, "healing": 0, "belch": 25,
      "experience": 0
    }
  },
  // Vore.
  "prey": { // Prey's base weight.
    "digestionStats": [["digestion", 1]],
    "amountStats": [],

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0.5, "weight": 0.5, "capacity": 1, "healing": 1, "belch": 0,
      "experience": 0.5
    }
  },
  "preyWeight": { // Prey's additional weight.
    "digestionStats": [["digestion", 1]],
    "amountStats": [],

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 1, "weight": 1, "capacity": 1, "healing": 1, "belch": 0,
      "experience": 0.05
    }
  },
  "preyInedible": { // i.e. Shadow NPCs
    "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
    "amountStats": [],
    "triggersBelch": true,

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 1, "healing": 0, "belch": 0.25,
      "experience": 0
    }
  },
  "preyMonster": { // Monsters cause bigger bellies.
    "digestionStats": [["digestion", 1]],
    "amountStats": [],

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0.5, "weight": 0.5, "capacity": 2, "healing": 1, "belch": 0,
      "experience": 0.5
    }
  },
  "preyMonsterInedible": { // i.e. Robot monsters.
    "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
    "amountStats": [],
    "triggersBelch": true,

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 2, "healing": 0, "belch": 0.25,
      "experience": 0.5
    }
  },
  "preyMonster_noExperience": { // Pet/Infinitely generating monsters grant no experience.
    "digestionStats": [["digestion", 1]],
    "amountStats": [],

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0.5, "weight": 0.5, "capacity": 2, "healing": 1, "belch": 0,
      "experience": 0
    }
  },
  "preyMonsterInedible_noExperience": {
    "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
    "amountStats": [],
    "triggersBelch": true,

    "digestionRate": 1,
    "percentDigestionRate": 0.01,

    "multipliers": {
      "food": 0, "weight": 0, "capacity": 2, "healing": 0, "belch": 0.25,
      "experience": 0.5
    }
  }
}
