{
	"settings": {
		"playerScriptAddons": [],
		"threshholds": {
			"stomach": [
				// name: <variant>, amount: <minimum contents for variant>
				{"name": "saturated", "amount": 20},
				{"name": "stuffed", "amount": 40},
				{"name": "packed", "amount": 60},
				{"name": "filled", "amount": 80},
				{"name": "glutted", "amount": 100},
				{"name": "gorged", "amount": 150}
			],
			"breasts": [
				// name: <variant>, amount: <minimum contents for variant>
				{"name": "busty", "amount": 20},
				{"name": "milky", "amount": 30}
			],
			"strain": {
				// Should change the range in the the status effects if you end up patching these.
				"starpoundsstomach": 1,
				"starpoundsstomach2": 2,
				"starpoundsstomach3": 3
			}
		},
		// Weight cap
		"maxWeight": 10000,
		// Base Stomach Capacity. Probably don't change this unless you also change the base hunger stat.
		"stomachCapacity": 70,
		// Experience amount and percent increase per level.
		"experienceAmount": 50,
		"experienceIncrement": 0.2,
		// How much experience/weight players lose on death.
		"deathExperiencePercentile": 0.25,
		"deathWeightPercentile": 0.25,
		// Experience multipliers for food and monsters.
		"foodExperienceMultipliers": {"common": 1, "uncommon": 1.25, "rare": 1.5, "legendary": 1.75, "essential": 2},
		"monsterExperienceMultiplier": 0.5,
		// Index for the 'target' size for when some scaling effects are maxed/activated.
		"targetSize": 3, // Chubster
		// How often to clear the starpounds stat cache.
		"statCacheTimer": 0.25,
		// How often to check for status effect changes.
		"effectRefreshTimer": 0.5,
		// Digestion speeds. (Base + Percent happen together, but only base is increased by digestion speed)
		"digestionBase": 3,
		"digestionPercent": 0.01,
		// Maximum bloat:capacity ratio.
		"maximumBloatCapacity": 3,
		// Average gurgle time, and minimum amount of time to pass before another gurgle can happen.
		"gurgleTime": 30,
		"minimumGurgleTime": 5,
		// Average rumble time, and minimum amount of time to pass before another rumble can happen.
		"rumbleTime": 15,
		"minimumRumbleTime": 3,
		// Base digestion healing:food ratio, ratio for energy skill, and caps (% max)/second
		"healingRatio": 1,
		"healingCap": 0.05,
		"energyRatio": 10,
		"energyCap": 0.5,
		// Slosh Stuffs.
		"sloshTimer": 0.3, // Time between sloshes.
		"minimumSloshTimer": 0.15, // Minimum time between sloshes. Going this fast reduces the effectiveness of each slosh so it's on par with the regular timer.
		"sloshDigestion": 0.3, // Seconds of extra digestion caused by a slosh.
		"sloshPercent": 0.05, // sloshPercent * (gurgleTime or rumbleTime) = Gurgle and rumble timer reduction caused by a slosh.
		"sloshActivationCount": 3, // How many 'windup' crouches before sloshing is activated.
		"sloshDeactivateTimer": 1, // How long to wait before resetting slosh windup.
		// Vore stuffs.
		"voreHeartbeat": 0.5, // How often to 'confirm' with pred that the entity is actually eaten.
		"voreDigestTimer": 0.25, // How often a pred will run a digestion tick.
		"voreUnescapableHealth": 0.25, // HP threshold for being unable to escape (Non-players)
		"vorePlayerEscape": 0.1, // Chance for a player to escape on a struggle no matter what.
		"voreStruggleEnergyBase": 5, // How much base energy any struggles reduce.
		"voreStruggleEnergy": 25, // How much energy (affected by struggle chance) struggles reduce.
		"voreStruggleEnergyLock": 0.25, // Multiplier for normal energy lockout time struggles cause (when out of energy).
		// Behaviours to check for in monsters when attempting to eat.
		// If you add something here, you need to patch the actual behaviour file too.
		"critterBehaviors": ["blooping", "flyingcritter", "swimming", "walkingcritter", "farmablebaby"],
		"monsterBehaviors": ["monster", "farmable", "thea-monster-passive" ],
		// Status effects that modify starpounds stats.
		"statusEffectModifiers": {
			// Status effects that multiply the effective total.
			"multipliers": {
				"intents": { "digestion": 1.1 },
				"bed1": { "digestion": 1.1 },
				"bed2": { "digestion": 1.2 },
				"bed3": { "digestion": 1.3 },
				"bed4": { "digestion": 1.4 },
				"bed5": { "digestion": 1.5 },
				"foodpoison": { "absorption": 0.5, "healing": 0 },
				"erchiusbloat": { "bloatDigestion": 0 },
				"bottlederchiusbloat": { "bloatDigestion": 0 },
				"treadmill": { "metabolism": 100 }
			},
			// Status effects that change a flat amount.
			"bonuses": {
				"digesting": { "digestion": 4, "bloatDigestion": 4, "voreDamage": 2, "gurgleRate": 4, "belchChance": 0.25 },
				"lactaidoverdrive": { "breastCapacity": 3 }
			}
		},
		// Liquids and their respective food values.
		// Values are the percent (1 = 100%) of volume added as food. The rest is added as bloat.
		"drinkableVolume": 10,
		"drinkables": {
			"sb_tentaclejuice": 0.1,
			"milk": 0.25,
			"sb_alienjuice": 0.25,
			"sb_coffee": 0.25,
			"slimeliquid": 0.5,
			"jellyliquid": 0.5,
			"starpoundssodaliquid": 0.5,
			"starpoundschocolateliquid": 0.5,
			"lardliquid": 0.75,
			"greaseliquid": 0.75,
			"bees_liquidhoney": 0.75,
			"starpoundscaloriumliquid": 1
		},
		// Capped size indexes for vehicles so your fat ass doesnt hang out.
		"vehicleSizeCap": {
			"modularmech": 4,
			"dropship": 4,
			"minitank": 4,
			"hoverbikekhaki": 4,
			"hoverbikered": 4,
			"hoverbikegreen": 4,
			"jeep": 4,
			"humanmech": 4,
			"apexmech": 4,
			"glitchmech": 4
		},
		"particleTemplates": {
			"belch": {
				"type": "ember",
				"size": 1.25,
				"color": [60, 150, 224, 200],
				"position": [0, 0],
			  "destructionAction": "shrink",
			  "destructionTime": 0.2,
				"layer": "middle",
				"timeToLive": 0.5,
				"finalVelocity": [0, 0],
				"approach": [5, 0],
				"variance": {"initialVelocity": [5, 3], "size": 0.25, "timeToLive": 0.25}
			},
			"vore": {
				"type": "ember",
				"size": 1,
				"color": [255, 255, 255], // This gets changed in the script
				"position": [0, 0],
				"destructionAction": "fade",
				"destructionTime": 0.25,
				"layer": "middle",
				"variance": {"initialVelocity": [2, 2], "size": 0.5, "timeToLive": 0.05}
			}
		}
	},
	"baseData": {
		"enabled": true,
		"weight": 0,
		"stomach": 0,
		"stomachLerp": 0,
		"breasts": 0,
		"breastType": "milk",
		"level": 0,
		"experience": 0,
 		"bloat": 0,
		"pred": null,
		"entityStomach": [],
		"options": {},
		"optionMultipliers": {},
		"stats": {},
		"skills": {},
		"accessories": {}
	}
}
