{
  "tabs": [
    {
      "id": "skills",
      "pretty": "Skills",
      "description": "This menu allows you to improve your fat-related stats!\n\nTo improve a skill, select its icon on the tree.\n\nTo upgrade skills you require ^#b8eb00;XP^reset;, which you can gain by eating food!",
      "offset": [240, 160],
      "defaultObject": "starpoundsinfusiontable"
    },
    {
      "id": "abilities",
      "pretty": "Abilities",
      "description": "This menu allows you to unlock new fat-based abilites!\n\nTo unlock an ability, select its icon on the tree.\n\nTo upgrade abilites you require ^#b8eb00;XP^reset;, which you can gain by eating food!",
      "offset": [240, 0],
      "defaultObject": "starpoundsinfusiontable"
    }
  ],
  "skills": {
    "digestion": {
      "tab": "skills",
      "pretty": "Digestion",
      "shortDescription": "Increases digestion speed.",
      "description": "Increases the potency of your stomach acid, allowing you to digest food quicker.",
      "connect": [["absorption", "health", "movement", "capacity"], [[153, 77, 77, 255], [171, 105, 105, 255]]],
      "position": [0, -2],
      "colour": "b8eb00",

      "levels": 20,
      "type": "addStat",
      "stat": "digestion",
      "amount": 0.05,
      "cost": {"base": 5}
    },
    "absorption": {
      "tab": "skills",
      "pretty": "Absorption",
      "shortDescription": "Increases food absorption.",
      "description": "Improves your digestive efficiency, letting you absorb more nutrients and pack on more pounds with less meals.",
      "connect": [["health", "movement", "capacity"], [[153, 77, 77, 255], [171, 105, 105, 255]]],
      "position": [-1.9, -0.7],
      "colour": "00ebce",

      "levels": 20,
      "type": "addStat",
      "stat": "absorption",
      "amount": 0.0125,
      "cost": {"base": 5}
    },
    "health": {
      "tab": "skills",
      "pretty": "Health",
      "shortDescription": "Increases fat health.",
      "description": "Increases the resistance of your pudge, letting you take more punishment at higher weight.",
      "connect": [["movement", "capacity"], [[153, 77, 77, 255], [171, 105, 105, 255]]],
      "position": [1.9, -0.7],
      "colour": "cf1b1b",

      "levels": 20,
      "type": "addStat",
      "stat": "health",
      "amount": 0.05,
      "cost": {"base": 5}
    },
    "movement": {
      "tab": "skills",
      "pretty": "Movement",
      "shortDescription": "Decreases movement penalty.",
      "description": "Strengthens your muscles, reducing the burden weight has on your movement.",
      "connect": [["capacity"], [[153, 77, 77, 255], [171, 105, 105, 255]]],
      "position": [-1, 1.35],
      "colour": "1a87ed",

      "levels": 20,
      "type": "addStat",
      "stat": "movement",
      "amount": 0.01,
      "cost": {"base": 5}
    },
    "capacity": {
      "tab": "skills",
      "pretty": "Capacity",
      "shortDescription": "Increases stomach capacity.",
      "description": "Enhances the elasticity of your stomach, letting you pack in more snacks before getting full.",
      "position": [1, 1.35],
      "colour": "f96aa6",

      "levels": 20,
      "type": "addStat",
      "stat": "capacity",
      "amount": 0.05,
      "cost": {"base": 5}
    },
    "gurgleRate": {
      "tab": "skills",
      "pretty": "Gurgly Gut",
      "shortDescription": "Increases gurgle rate.",
      "description": "Increases the frequency of vigorous stomach contractions, causing rapid digestion.",
      "position": [1.5, -2.4],
      "connect": [["digestion"]],
      "requirements": {
        "digestion": 3
      },
      "colour": "b8eb00",

      "levels": 5,
      "type": "addStat",
      "stat": "gurgleRate",
      "amount": 0.2,
      "cost": {"base": 2, "increase": 2}
    },
    "gurgleAmount": {
      "tab": "skills",
      "pretty": "Rough Rumbles",
      "shortDescription": "Increases gurgle digestion amount.",
      "description": "Amplifies the force of your stomach gurgles, causing them to digest even more food.",
      "position": [1.5, -4],
      "connect": [["gurgleRate"]],
      "requirements": {
        "gurgleRate": 3,
        "digestion": 5
      },
      "colour": "b8eb00",

      "levels": 3,
      "type": "addStat",
      "stat": "gurgleAmount",
      "amount": 0.1,
      "cost": {"base": 5, "increase": 5}
    },
    "sloshing": {
      "tab": "skills",
      "pretty": "Sloshy Squishes",
      "shortDescription": "Enables sloshing ability.",
      "description": "Repeatedly crouch to churn around the contents of your stomach, hastily digesting your food and causing frequent gurgles.\n\n^gray;Rapidly crouch to speed up digestion.",
      "position": [3, -4],
      "connect": [["gurgleAmount"]],
      "requirements": {
        "gurgleRate": 3,
        "gurgleAmount": 1,
        "digestion": 10
      },
      "colour": "b8eb00",
      "cost": {"base": 20}
    },
    "belchChance": {
      "tab": "skills",
      "pretty": "Bloaty Burps",
      "shortDescription": "Increases belch chance.",
      "description": "When bloated, gurgles have a chance to make you belch, digesting additional bloat.",
      "position": [0, -3.5],
      "connect": [["digestion"]],
      "requirements": {
        "digestion": 3
      },
      "colour": "b8eb00",

      "levels": 3,
      "type": "addStat",
      "stat": "belchChance",
      "amount": 0.25,
      "cost": {"base": 2, "increase": 2}
    },
    "belchAmount": {
      "tab": "skills",
      "pretty": "Bolstered Belches",
      "shortDescription": "Increases belches' bloat reduction.",
      "description": "Belch with greater force, relieving even more bloat from your stomach.",
      "position": [-1.5, -4],
      "connect": [["belchChance"]],
      "requirements": {
        "belchChance": 1
      },
      "colour": "b8eb00",

      "levels": 4,
      "type": "addStat",
      "stat": "belchAmount",
      "amount": 0.25,
      "cost": {"base": 3, "increase": 3}
    },
    "bloatDigestion": {
      "tab": "skills",
      "pretty": "Bloat Buster",
      "shortDescription": "Increases bloat digestion speed.",
      "description": "Your stomach becomes adept at breaking down indigestibles, recovering faster from bloating.",
      "position": [-1.5, -2.4],
      "connect": [["digestion"]],
      "requirements": {
        "digestion": 5
      },
      "colour": "5d50e5",

      "levels": 5,
      "type": "addStat",
      "stat": "bloatDigestion",
      "amount": 0.2,
      "cost": {"base": 5}
    },
    "bloatAmount": {
      "tab": "skills",
      "pretty": "Chyme Condenser",
      "shortDescription": "Decreases bloat recieved.",
      "description": "Compresses the contents within your stomach, reducing the amount of bloating you recieve.",
      "position": [-3, -4],
      "connect": [["bloatDigestion"]],
      "requirements": {
        "bloatDigestion": 5,
        "digestion": 10
      },
      "colour": "5d50e5",

      "levels": 3,
      "type": "subtractStat",
      "stat": "bloatAmount",
      "amount": 0.25,
      "cost": {"base": 5, "increase": 5}
    },
    "digestionEnergy": {
      "tab": "skills",
      "pretty": "Electric Enzymes",
      "shortDescription": "Increases energy from digestion.",
      "description": "Your gastric juices become more reactive, restoring energy from digested food.",
      "position": [-3, -2.4],
      "connect": [["absorption"]],
      "requirements": {
        "absorption": 10
      },
      "colour": "00ebce",

      "levels": 5,
      "type": "addStat",
      "stat": "digestionEnergy",
      "amount": 0.2,
      "cost": {"base": 4, "increase": 1}
    },
    "experienceMultiplier": {
      "tab": "skills",
      "pretty": "Adipose Academia",
      "shortDescription": "Increases experience gained.",
      "description": "Absorb more knowledge from the food you eat, granting you bonus ^#b8eb00;XP^reset;.",
      "position": [-3, 1],
      "connect": [["absorption"]],
      "requirements": {
        "absorption": 5
      },
      "colour": "00ebce",

      "levels": 5,
      "type": "addStat",
      "stat": "experienceMultiplier",
      "amount": 0.05,
      "cost": {"base": 10}
    },
    "deathPenalty": {
      "tab": "skills",
      "pretty": "Celestial Corpulence",
      "shortDescription": "Decreases weight and XP lost on death.",
      "description": "Your adipose becomes bound to your soul, retaining more of your ^#b8eb00;XP^reset; and weight upon death.",
      "position": [-4.5, 1],
      "connect": [["experienceMultiplier"]],
      "requirements": {
        "absorption": 10,
        "experienceMultiplier": 3
      },
      "colour": "00ebce",

      "levels": 4,
      "type": "subtractStat",
      "stat": "deathPenalty",
      "amount": 0.20,
      "cost": {"base": 5, "increase": 2}
    },
    "hungerReduction": {
      "tab": "skills",
      "pretty": "Hampered Hunger",
      "shortDescription": "Decreases hunger speed.",
      "description": "Food satiates you more than normal, reducing the rate you become hungry between meals.",
      "position": [-3.5, -0.7],
      "connect": [["absorption"]],
      "requirements": {
        "absorption": 3
      },
      "colour": "00ebce",

      "levels": 5,
      "type": "subtractStat",
      "stat": "hunger",
      "amount": 0.05,
      "cost": {"base": 2, "increase": 1}
    },
    "preventStarving": {
      "tab": "skills",
      "pretty": "Fatty Fasting",
      "shortDescription": "Lose weight before health when starving.",
      "description": "Rapidly metabolise gained fat when you are very hungry, preventing you from starving.",
      "position": [-4.5, -2.4],
      "connect": [["hungerReduction"]],
      "requirements": {
        "hungerReduction": 3,
        "absorption": 5
      },
      "colour": "00ebce",
      "cost": {"base": 20}
    },
    "metabolismReduction": {
      "tab": "skills",
      "pretty": "Metabolic Minimizer",
      "shortDescription": "Decreases weight loss from moving.",
      "description": "Slow down your metabolism, causing you to lose weight at a slower pace.",
      "position": [-5, -0.7],
      "connect": [["hungerReduction"]],
      "requirements": {
        "hungerReduction": 5,
        "absorption": 10
      },
      "colour": "00ebce",

      "levels": 5,
      "type": "subtractStat",
      "stat": "metabolism",
      "amount": 0.1,
      "cost": {"base": 3, "increase": 2}
    },
    "strainedPenalty": {
      "tab": "skills",
      "pretty": "Corpulent Confiner",
      "shortDescription": "Decreases strained energy and movement penalty.",
      "description": "Thickens your stomach lining, reducing the energy and movement penalty when exceeding your capacity.",
      "position": [1, 3],
      "connect": [["capacity"]],
      "requirements": {
        "capacity": 5
      },
      "colour": "f96aa6",

      "levels": 5,
      "type": "subtractStat",
      "stat": "strainedPenalty",
      "amount": 0.1,
      "cost": {"base": 4, "increase": 2}
    },
    "wellfedProtection": {
      "tab": "skills",
      "pretty": "Fervid Feasting",
      "shortDescription": "Allows eating over capacity.",
      "description": "Become accustomed to being stuffed past your limit, letting you gorge yourself in spite of your stomach's protests.\n\n^gray;You can consume past your stomach capacity.",
      "position": [1, 4.5],
      "connect": [["strainedPenalty"]],
      "requirements": {
        "strainedPenalty": 3,
        "capacity": 10
      },
      "colour": "f96aa6",
      "cost": {"base": 30}
    },
    "minimumSize": {
      "internal": true,
      "levels": 7
    },
    "healing": {
      "tab": "skills",
      "pretty": "Analeptic Adipose",
      "shortDescription": "Increases healing from digestion.",
      "description": "Your body sends nutrients from digesting food straight to your wounds, quickly healing them.",
      "position": [3, -2.4],
      "connect": [["health"]],
      "requirements": {
        "health": 5
      },
      "colour": "cf1b1b",

      "levels": 5,
      "type": "addStat",
      "stat": "healing",
      "amount": 0.2,
      "cost": {"base": 5, "increase": 1}
    },
    "iceResistance": {
      "tab": "skills",
      "pretty": "Heated Heft",
      "shortDescription": "Reduces ice-based damage.",
      "description": "Your chub radiates warmth, protecting you against ^#3dc2f2;ice-based^reset; damage.\n\n^gray;Scales until chubster.",
      "position": [3.5, -0.7],
      "connect": [["health"]],
      "requirements": {
        "health": 3
      },
      "colour": "cf1b1b",

      "levels": 3,
      "type": "addStat",
      "stat": "iceResistance",
      "amount": 0.1,
      "cost": {"base": 5, "increase": 5}
    },
    "poisonResistance": {
      "tab": "skills",
      "pretty": "Mithridatic Meals",
      "shortDescription": "Reduces poison-based damage.",
      "description": "Your stomach becomes more resistant to toxins, protecting you against ^#00d900;poison-based^reset; damage.\n^gray;Scales until chubster.",
      "position": [5, -0.7],
      "connect": [["iceResistance"]],
      "requirements": {
        "iceResistance": 3,
        "health": 5
      },
      "colour": "cf1b1b",

      "levels": 3,
      "type": "addStat",
      "stat": "poisonResistance",
      "amount": 0.1,
      "cost": {"base": 5, "increase": 5}
    },
    "firePenalty": {
      "tab": "skills",
      "pretty": "Flameproof Flab",
      "shortDescription": "Reduces fire-based damage penalty.",
      "description": "Insulates your pudge from ^#ff8c00;fire-based^reset; damage, reducing how much energy you lose.",
      "position": [6.5, -0.7],
      "connect": [["poisonResistance"]],
      "requirements": {
        "poisonResistance": 3,
        "health": 10
      },
      "colour": "cf1b1b",

      "levels": 3,
      "type": "subtractStat",
      "stat": "firePenalty",
      "amount": 0.25,
      "cost": {"base": 5, "increase": 5}
    },
    "knockbackResistance": {
      "tab": "skills",
      "pretty": "Iron Insides",
      "shortDescription": "Reduces knockback recieved.",
      "description": "Your body more readily absorbs the impact of blows, reducing knockback received.",
      "position": [3, 1],
      "connect": [["health"]],
      "requirements": {
        "health": 5
      },
      "colour": "cf1b1b",

      "levels": 5,
      "type": "addStat",
      "stat": "knockbackResistance",
      "amount": 0.05,
      "cost": {"base": 3, "increase": 3}
    },
    "iceImmunity": {
      "tab": "skills",
      "pretty": "Pudgy Padding",
      "shortDescription": "Grants immunity to ice-based statuses.",
      "description": "Even warmer fat grants you immunity to ^#3dc2f2;ice-based^reset; status effects.\n\n\n^gray;Chubster or above only.\n^gray;Does not protect you against ^#4bf3fd;Deadly Chill^gray;.",
      "position": [4.5, 1],
      "connect": [["iceResistance"]],
      "requirements": {
        "iceResistance": 3,
        "health": 5
      },
      "colour": "cf1b1b",
      "cost": {"base": 20}
    },
    "poisonImmunity": {
      "tab": "skills",
      "pretty": "Steel Stomach",
      "shortDescription": "Grants immunity to poison-based statuses.",
      "description": "Your stomach neutralises toxins, granting you immunity to ^#00d900;poison-based^reset; status effects.\n\n^gray;Chubster or above only.\n^gray;Does not protect you against ^#81fc4c;Deadly Radiation^gray;.",
      "position": [6, 1],
      "connect": [["poisonResistance"]],
      "requirements": {
        "poisonResistance": 3,
        "health": 10
      },
      "colour": "cf1b1b",
      "cost": {"base": 20}
    },
    "fallDamageReduction": {
      "tab": "skills",
      "pretty": "Doughy Descent",
      "shortDescription": "Decreases fat-based fall damage.",
      "description": "Enhances the absorptive properties of your fat, reducing bonus damage from falling.",
      "position": [-1, 3],
      "connect": [["movement"]],
      "requirements": {
        "movement": 5
      },
      "colour": "1a87ed",

      "levels": 5,
      "type": "addStat",
      "stat": "fallDamageReduction",
      "amount": 0.15,
      "cost": {"base": 4, "increase": 1}
    },
    "preventImmobile": {
      "tab": "skills",
      "pretty": "Advancing Adipose",
      "shortDescription": "Prevents immobility.",
      "description": "No matter how fat you become, you retain the ability to move.\n\n^gray;Immobile now doubles your movement penalty, rather than causing full immobility.",
      "position": [-2.5, 3],
      "connect": [["movement"]],
      "requirements": {
        "movement": 20
      },
      "colour": "1a87ed",
      "cost": {"base": 20}
    },
    // ABILITIES PAGE

    "breastProduction": {
      "tab": "abilities",
      "pretty": "Dairy Development",
      "shortDescription": "Increases milk production.",
      "description": "Convert a portion of absorbed food into milk.",
      "position": [-4.5, -4],
      "requirements": {
        "absorption": 3
      },
      "colour": "26aafc",
      "forceWidget": true,
      "widget": {
        "id": "lactate", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/lactate.png",
        "hoverImage": "descriptionWidgets/lactate.png",
        "pressImage": "descriptionWidgets/lactate.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to lactate!"
      },

      "levels": 5,
      "type": "addStat",
      "stat": "breastProduction",
      "amount": 0.1,
      "cost": {"base": 3, "increase": 2}
    },
    "breastCapacity": {
      "tab": "abilities",
      "pretty": "Mammary Magnitude",
      "shortDescription": "Increases breast capacity.",
      "description": "Increase how much milk your breasts can store.",
      "position": [-4.5, -2],
      "connect": [["breastProduction"]],
      "requirements": {
        "breastProduction": 1,
        "absorption": 5
      },
      "colour": "26aafc",
      "forceWidget": true,
      "widget": {
        "id": "lactate", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/lactate.png",
        "hoverImage": "descriptionWidgets/lactate.png",
        "pressImage": "descriptionWidgets/lactate.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to lactate!"
      },

      "levels": 5,
      "type": "addStat",
      "stat": "breastCapacity",
      "amount": 1,
      "cost": {"base": 4, "increase": 2}
    },
    "breastEfficiency": {
      "tab": "abilities",
      "pretty": "Cream Composition",
      "shortDescription": "Decreases food to produce milk.",
      "description": "Increase the efficiency of producing milk.",
      "position": [-4.5, 0],
      "connect": [["breastCapacity"]],
      "requirements": {
        "breastCapacity": 1,
        "absorption": 10
      },
      "colour": "26aafc",
      "forceWidget": true,
      "widget": {
        "id": "lactate", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/lactate.png",
        "hoverImage": "descriptionWidgets/lactate.png",
        "pressImage": "descriptionWidgets/lactate.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to lactate!"
      },

      "levels": 5,
      "type": "addStat",
      "stat": "breastEfficiency",
      "amount": 0.1,
      "cost": {"base": 5, "increase": 2}
    },
    "breastMilk": {
      "tab": "abilities",
      "pretty": "Common Cream",
      "shortDescription": "Produce milk.",
      "description": "Make your breasts produce regular milk.",
      "position": [-3, -3.5],
      "connect": [["breastChocolate"], [[152, 133, 99, 128], [165, 147, 122, 128]]],
      "requirements": {
        "breastChocolate": 1
      },
      "forceWidget": true,
      "widget": {
        "id": "breastMilk", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/breastMilk.png",
        "hoverImage": "descriptionWidgets/breastMilk.png",
        "pressImage": "descriptionWidgets/breastMilk.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to reset your milk type!"
      },
      "colour": "26aafc",
      "cost": {"base": 0}
    },
    "breastChocolate": {
      "tab": "abilities",
      "pretty": "Calorific Chocolate",
      "shortDescription": "Produce chocolate milk.",
      "description": "Make your breasts produce chocolate milk, containing double the calories of regular milk.",
      "position": [-3, -1.5],
      "connect": [["breastProduction"]],
      "requirements": {
        "breastProduction": 3
      },
      "widget": {
        "id": "breastChocolate", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/breastChocolate.png",
        "hoverImage": "descriptionWidgets/breastChocolate.png",
        "pressImage": "descriptionWidgets/breastChocolate.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to change milk to ^#75461a;Chocolate^reset;!"
      },
      "colour": "26aafc",
      "cost": {"base": 10}
    },
    "breastHoney": {
      "tab": "abilities",
      "pretty": "Hefty Honey",
      "shortDescription": "Produce honey.",
      "description": "Make your breasts produce honey, containing triple the calories of regular milk.",
      "position": [-3, 0.5],
      "connect": [["breastChocolate"]],
      "requirements": {
        "breastProduction": 5,
        "breastChocolate": 1
      },
      "widget": {
        "id": "breastHoney", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/breastHoney.png",
        "hoverImage": "descriptionWidgets/breastHoney.png",
        "pressImage": "descriptionWidgets/breastHoney.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to change milk to ^yellow;Honey^reset;!"
      },
      "colour": "26aafc",
      "cost": {"base": 20}
    },
    "stomachSmash": {
      "tab": "abilities",
      "pretty": "Stomach Smash",
      "shortDescription": "Unlock stomach smash tech.",
      "description": "Unlock the ^#ccbbff;Stomach Smash^reset;, a ^cyan;Dash^reset; modification that knocks enemies you collide with into the air.",
      "position": [0, -4],
      "requirements": {
        "movement": 3
      },
      "colour": "9d72ed",
      "widget": {
        "id": "stomachSmash", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/stomachSmash.png",
        "hoverImage": "descriptionWidgets/stomachSmash.png",
        "pressImage": "descriptionWidgets/stomachSmash.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to equip the ^#ccbbff;Stomach Smash^reset;!\n^gray;Requires ^cyan;Dash^gray;."
      },
      "cost": {"base": 10}
    },
    "stomachSmashForce": {
      "tab": "abilities",
      "pretty": "Belly Bounce",
      "shortDescription": "Increase stomach smash knockback.",
      "description": "Your ^#ccbbff;Stomach Smash^reset; rebounds enemies, stunning and knocking them away.",
      "position": [-1.5, -2.5],
      "connect": [["stomachSmash"]],
      "requirements": {
        "stomachSmash": 1
      },
      "colour": "9d72ed",

      "levels": 5,
      "type": "addStat",
      "stat": "stomachSmashForce",
      "amount": 0.2,
      "cost": {"base": 5}
    },
    "stomachSmashRange": {
      "tab": "abilities",
      "pretty": "Paunch Propulsion",
      "shortDescription": "Increase stomach smash range.",
      "description": "Your ^#ccbbff;Stomach Smash^reset; launches you with greater force, increasing the dash range at higher weight.",
      "position": [1.5, -3.5],
      "connect": [["stomachSmash"]],
      "requirements": {
        "stomachSmash": 1
      },
      "colour": "9d72ed",

      "levels": 5,
      "type": "addStat",
      "stat": "stomachSmashRange",
      "amount": 0.15,
      "cost": {"base": 5}
    },
    "groundSlam": {
      "tab": "abilities",
      "pretty": "Pulverizing Pudge",
      "shortDescription": "Unlock ground slam tech.",
      "description": "Unlock the ^#ccbbff;Ground Slam^reset;, a ^cyan;Pulse Jump^reset; modification that can perform a damaging shockwave.",
      "position": [0, -2],
      "connect": [["stomachSmash"]],
      "requirements": {
        "movement": 5
      },
      "colour": "9d72ed",
      "widget": {
        "id": "groundSlam", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/groundSlam.png",
        "hoverImage": "descriptionWidgets/groundSlam.png",
        "pressImage": "descriptionWidgets/groundSlam.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to equip the ^#ccbbff;Ground Slam^reset;!\n^gray;Requires ^cyan;Pulse Jump^gray;."
      },
      "cost": {"base": 15}
    },
    "groundSlamCooldown": {
      "tab": "abilities",
      "pretty": "Swift Squashing",
      "shortDescription": "Decrease ground slam cooldown.",
      "description": "You recover from ^#ccbbff;Ground Slam^reset; faster, letting you flatten your enemies more often.",
      "position": [-1.5, -0.5],
      "connect": [["groundSlam"]],
      "requirements": {
        "groundSlam": 1
      },
      "colour": "9d72ed",

      "levels": 5,
      "type": "subtractStat",
      "stat": "groundSlamCooldown",
      "amount": 0.1,
      "cost": {"base": 5}
    },
    "groundSlamHeight": {
      "tab": "abilities",
      "pretty": "Lard Lift-off",
      "shortDescription": "Increase ground slam boost height.",
      "description": "Your ^#ccbbff;Ground Slam^reset; jump has increased thrust, increasing the height at higher weight.",
      "position": [1.5, -1.5],
      "connect": [["groundSlam"]],
      "requirements": {
        "groundSlam": 1
      },
      "colour": "9d72ed",

      "levels": 5,
      "type": "addStat",
      "stat": "groundSlamHeight",
      "amount": 0.15,
      "cost": {"base": 5}
    },
    "throgSphere": {
      "tab": "abilities",
      "pretty": "Blubbery Boulder",
      "shortDescription": "Unlock throg sphere tech.",
      "description": "Unlock the ^#ccbbff;Throg Sphere^reset;, a ^cyan;Distortion Sphere^reset; that gains size and damages enemies you roll over.",
      "position": [0, 0],
      "connect": [["groundSlam"]],
      "requirements": {
        "groundSlam": 1,
        "movement": 10
      },
      "colour": "9d72ed",
      "widget": {
        "id": "throgSphere", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/throgSphere.png",
        "hoverImage": "descriptionWidgets/throgSphere.png",
        "pressImage": "descriptionWidgets/throgSphere.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to equip the ^#ccbbff;Throg Sphere^reset;!\n^gray;Requires ^cyan;Distortion Sphere^gray;."
      },
      "cost": {"base": 20}
    },
    "throgSphereArmor": {
      "tab": "abilities",
      "pretty": "Stalwart Sphere",
      "shortDescription": "Increase throg sphere protection.",
      "description": "Your ^#ccbbff;Throg Sphere^reset; becomes more resistant to damage, protecting you while inside.\n\n^gray;Scales until chubster.",
      "position": [-1.5, 1.5],
      "connect": [["throgSphere"]],
      "requirements": {
        "throgSphere": 1
      },
      "colour": "9d72ed",

      "levels": 5,
      "type": "addStat",
      "stat": "throgSphereArmor",
      "amount": 0.1,
      "cost": {"base": 5}
    },
    "throgSphereForce": {
      "tab": "abilities",
      "pretty": "Hefty Horsepower",
      "shortDescription": "Increase throg sphere acceleration.",
      "description": "Your ^#ccbbff;Throg Sphere^reset; becomes easier to roll, letting you accelerate faster at higher weight.",
      "position": [1.5, 0.5],
      "connect": [["throgSphere"]],
      "requirements": {
        "throgSphere": 1
      },
      "colour": "9d72ed",

      "levels": 5,
      "type": "addStat",
      "stat": "throgSphereForce",
      "amount": 0.2,
      "cost": {"base": 5}
    },
    "throgSphereShrink": {
      "tab": "abilities",
      "pretty": "Chubby Condenser",
      "shortDescription": "Enables throg sphere shrink mode.",
      "description": "Your ^#ccbbff;Throg Sphere^reset; becomes able to shrink, allowing navigation through small spaces at larger sizes.\n\n\n^gray;Activate shrink mode with\n ^#ccbbff;[Shift] ^gray;+ ^#ccbbff;[F]",
      "position": [0, 2],
      "connect": [["throgSphere"]],
      "requirements": {
        "throgSphere": 1
      },
      "colour": "9d72ed",
      "cost": {"base": 10}
    },
    "voreCritter": {
      "tab": "abilities",
      "pretty": "Critter Cravings",
      "shortDescription": "Enables eating critters.",
      "description": "Add small animals to the menu.\n\nSurely they won't mind. This is more natural, right?",
      "position": [4.5, -4],
      "requirements": {
        "capacity": 3
      },
      "colour": "b30b61",
      "widget": {
        "id": "voreTool", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/voreTool.png",
        "hoverImage": "descriptionWidgets/voreTool.png",
        "pressImage": "descriptionWidgets/voreTool.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to spawn the ^#e45151;Vore Tool^reset;!"
      },
      "cost": {"base": 5}
    },
    "voreMonster": {
      "tab": "abilities",
      "pretty": "Animal Appetite",
      "shortDescription": "Enables eating monsters.",
      "description": "Add larger creatures and monsters to the menu.\n\nSo you don't have to do the dishes^gray;...right?",
      "position": [4.5, -2],
      "connect": [["voreCritter"]],
      "requirements": {
        "voreCritter": 1,
        "capacity": 5
      },
      "colour": "b30b61",
      "widget": {
        "id": "voreTool", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/voreTool.png",
        "hoverImage": "descriptionWidgets/voreTool.png",
        "pressImage": "descriptionWidgets/voreTool.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to spawn the ^#e45151;Vore Tool^reset;!"
      },
      "cost": {"base": 10}
    },
    "voreHumanoid": {
      "tab": "abilities",
      "pretty": "Humanoid Hunger",
      "shortDescription": "Enables eating people.",
      "description": "Add people to the menu.\n\nNo point leaving perfectly good calories behind.\n^shadow;^darkgray;...Right?",
      "position": [4.5, 0],
      "connect": [["voreMonster"]],
      "requirements": {
        "voreMonster": 1,
        "capacity": 10
      },
      "colour": "b30b61",
      "widget": {
        "id": "voreTool", "type": "iconButton", "size": [24, 25],
        "image": "descriptionWidgets/voreTool.png",
        "hoverImage": "descriptionWidgets/voreTool.png",
        "pressImage": "descriptionWidgets/voreTool.png?border=1;00000000;00000000?crop=1;2;25;27",
        "toolTip": "Click me to spawn the ^#e45151;Vore Tool^reset;!"
      },
      "cost": {"base": 20}
    },
    "struggleResistance": {
      "tab": "abilities",
      "pretty": "Constricting Chasm",
      "shortDescription": "Decreases struggle energy penalty.",
      "description": "Your stomach squeezes down tighter on prey, preventing them from struggling as effectively.",
      "position": [3, -2.5],
      "connect": [["voreCritter"]],
      "requirements": {
        "voreCritter": 1
      },
      "colour": "b30b61",

      "levels": 5,
      "type": "addStat",
      "stat": "struggleResistance",
      "amount": 0.05,
      "cost": {"base": 4, "increase": 3}
    },
    "voreDamage": {
      "tab": "abilities",
      "pretty": "Corrosive Churning",
      "shortDescription": "Increases prey digestion speed.",
      "description": "Increases virulence of your gastric juices, letting you digest enemies down into food faster.",
      "position": [3, -0.5],
      "connect": [["voreMonster"]],
      "requirements": {
        "voreMonster": 1
      },
      "colour": "b30b61",

      "levels": 5,
      "type": "addStat",
      "stat": "voreDamage",
      "amount": 0.1,
      "cost": {"base": 3, "increase": 1}
    },
    "regurgitateSlimeStatus": {
      "tab": "abilities",
      "pretty": "Gastric Glue",
      "shortDescription": "Slows and weakens escaped prey.",
      "description": "Escaped or released prey get coated in slime, significantly reducing their ability to move and damage for a few seconds.",
      "position": [6, -1.5],
      "connect": [["voreMonster"]],
      "requirements": {
        "voreMonster": 1
      },
      "colour": "b30b61",
      "cost": {"base": 10}
    },
    "regurgitateChance": {
      "tab": "abilities",
      "pretty": "Ravenous Remnants",
      "shortDescription": "Recover scrap from prey.",
      "description": "After you digest prey, there's a chance that you'll belch up scrap from their outfit.",
      "position": [6, 0.5],
      "connect": [["voreHumanoid"]],
      "requirements": {
        "voreHumanoid": 1
      },
      "colour": "b30b61",

      "levels": 4,
      "type": "addStat",
      "stat": "regurgitateChance",
      "amount": 0.125,
      "cost": {"base": 3, "increase": 3}
    },
    "regurgitateClothingChance": {
      "tab": "abilities",
      "pretty": "Gluttonous Glamour",
      "shortDescription": "Recover clothing from prey.",
      "description": "You gain chance to belch up damaged articles of clothing and armor, rather than materials.",
      "position": [6, 2.5],
      "connect": [["regurgitateChance"]],
      "requirements": {
        "regurgitateChance": 4
      },
      "colour": "b30b61",

      "levels": 4,
      "type": "addStat",
      "stat": "regurgitateClothingChance",
      "amount": 0.125,
      "cost": {"base": 5, "increase": 3}
    },
    "secret": {
      "tab": "skills",
      "pretty": "Tim Allen Grunt",
      "shortDescription": "AEUHHH????",
      "description": "Embrace the spirit of Tim Taylor, a TV show host raising three mischievous boys with help from his loyal co-host, domineering wife, and genius neighbor.",
      "position": [-8.5, 5.5],
      "colour": "00000000",
      "hidden": true,
      "hiddenIcon": "secretIcon",
      "cost": {"base": 0}
    }
  }
}
