{
  "digestion": {"base": 1, "maxValue": 10, "pretty": "Digestion speed", "colour": "b8eb00", "description": "How quickly you ^#b8eb00;digest^reset; ^#d5ab36;food^reset."},
  "absorption": {"base": 0.25, "maxValue": 1, "pretty": "Food absorption", "colour": "00ebce", "description": "How much ^#d5ab36;food^reset; you ^#00ebce;absorb^reset;."},
  "health": {"base": 1, "pretty": "Bonus health", "colour": "cf1b1b", "description": "How much ^#cf1b1b;bonus health^reset; you gain from ^#00ebce;weight^reset;."},
  "movement": {"base": 1, "maxValue": 2, "invertDescriptor": true, "pretty": "Movement penalty", "colour": "1a87ed", "description": "How much effect ^#00ebce;weight^reset; has on ^#1a87ed;movement^reset;."},
  "capacity": {"base": 1, "pretty": "Stomach capacity", "colour": "f96aa6", "description": "How much ^#f96aa6;capacity^reset; you have for eating ^#d5ab36;food^reset;, ^#5d50e5;bloat^reset;, and ^#cc164a;prey^reset;."},
  "hunger": {"base": 1, "negative": true, "pretty": "Hunger", "colour": "d5ab36", "description": "How quickly you become ^#d5ab36;hungry^reset;."},
  "fallDamageReduction": {"base": 0, "maxValue": 1, "invertDescriptor": true, "pretty": "Bonus fall damage", "colour": "1a87ed", "description": "How much ^#1a87ed;bonus fall damage^reset; you recieve from ^#00ebce;weight^reset;."},
  "knockbackResistance": {"base": 0.25, "maxValue": 1, "pretty": "Knockback resistance", "colour": "b45c3d", "description": "How much ^#b45c3d;knockback resistance^reset; you gain from ^#00ebce;weight^reset;."},
  "stomachSmashForce": {"base": 0, "maxValue": 1, "pretty": "Stomach smash force", "colour": "ccbbff", "description": "How strong the ^#ccbbff;Stomach Smash^reset; knockback is."},
  "stomachSmashRange": {"base": 0, "maxValue": 1, "pretty": "Stomach smash range", "colour": "ccbbff", "description": "How far the ^#ccbbff;Stomach Smash^reset; dash is at higher ^#00ebce;weight^reset;."},
  "groundSlamCooldown": {"base": 1, "negative": true, "pretty": "Ground slam cooldown", "colour": "ccbbff", "description": "How long the ^#ccbbff;Ground Slam^reset; cooldown is."},
  "groundSlamHeight": {"base": 0, "maxValue": 1, "pretty": "Ground slam thrust", "colour": "ccbbff", "description": "How high the ^#ccbbff;Ground Slam^reset; jump is at higher ^#00ebce;weight^reset;."},
  "throgSphereArmor": {"base": 0, "maxValue": 1, "pretty": "Throg sphere protection", "colour": "ccbbff", "description": "How much damage the ^#ccbbff;Throg Sphere^reset; reduces."},
  "throgSphereForce": {"base": 0, "pretty": "Throg sphere acceleration", "colour": "ccbbff", "description": "How quickly the ^#ccbbff;Throg Sphere^reset; accelerates."},
  "healing": {"base": 1, "maxValue": 3, "pretty": "Digestion healing", "colour": "cf1b1b", "description": "How much ^#cf1b1b;health^reset; you restore from ^#00ebce;absorbed^reset; ^#d5ab36;food^reset;."},
  "digestionEnergy": {"base": 0, "pretty": "Digestion energy", "colour": "b8eb00", "description": "How much ^green;energy^reset; you restore from ^#00ebce;absorbed^reset; ^#d5ab36;food^reset;."},
  "weightGain": {"base": 1, "pretty": "Weight gain", "colour": "00ebce", "description": "How much ^#00ebce;weight^reset; you gain from all sources."},
  "weightLoss": {"base": 1, "pretty": "Weight loss", "colour": "00ebce", "description": "How much ^#00ebce;weight^reset; you lose from all sources."},
  "metabolism": {"base": 1, "negative": true, "pretty": "Metabolism", "colour": "00ebce", "description": "How much ^#00ebce;weight^reset; you lose from exercise."},
  "experienceMultiplier": {"base": 1, "pretty": "Experience", "colour": "b8eb00", "description": "How much ^#b8eb00;experience^reset; you gain from all sources."},
  "deathPenalty": {"base": 1, "negative": true, "pretty": "Death penalty", "colour": "00ebce", "description": "How much ^#b8eb00;experience^reset; and ^#00ebce;weight^reset; you lose when dying."},
  "gurgleRate": {"base": 1, "pretty": "Gurgle rate", "colour": "b8eb00", "description": "How often a ^#b8eb00;gurgle^reset; rapidly ^#b8eb00;digests^reset; ^#d5ab36;food^reset;."},
  "gurgleAmount": {"base": 1, "pretty": "Gurgle amount", "colour": "b8eb00", "description": "How much ^#d5ab36;food^reset; a ^#b8eb00;gurgle^reset; will ^#b8eb00;digest^reset;."},
  "bloatDigestion": {"base": 1, "pretty": "Bloat digestion speed", "colour": "5d50e5", "description": "How quickly you ^#b8eb00;digest^reset; ^#5d50e5;bloat^reset;."},
  "bloatAmount": {"base": 1, "negative": true, "pretty": "Bloating", "colour": "5d50e5", "description": "How much ^#5d50e5;bloat^reset; you recieve from all sources."},
  "belchChance": {"base": 0, "maxValue": 1, "pretty": "Belch chance", "colour": "b8eb00", "description": "How often a ^#b8eb00;gurgle^reset; will trigger a ^#b8eb00;belch^reset;, reducing ^#5d50e5;bloat^reset;."},
  "belchAmount": {"base": 1, "pretty": "Belched amount", "colour": "b8eb00", "description": "How much ^#5d50e5;bloat^reset; a ^#b8eb00;belch^reset; will reduce."},
  "struggleResistance": {"base": 0, "maxValue": 1, "invertDescriptor": true, "pretty": "Prey struggling", "colour": "cc164a", "description": "How much ^green;energy^reset; you lose when ^#cc164a;prey^reset; struggles."},
  "voreDamage": {"base": 1, "pretty": "Prey digestion speed", "colour": "b8eb00", "description": "How quickly you ^#b8eb00;digest^reset; ^#cc164a;prey^reset;."},
  "regurgitateChance": {"base": 0, "maxValue": 1, "pretty": "Item regurgitation", "colour": "b8eb00", "description": "How often you regurgitate scrap from ^#b8eb00;digested^reset; ^#cc164a;prey^reset;."},
  "regurgitateClothingChance": {"base": 0, "maxValue": 1, "pretty": "Outfit regurgitation", "colour": "b8eb00", "description": "How often you regurgitate clothes from ^#b8eb00;digested^reset; ^#cc164a;prey^reset;."},
  "iceResistance": {"base": 0, "pretty": "Ice protection", "colour": "3dc2f2", "description": "How much ^#3dc2f2;ice resistance^reset; you gain from ^#00ebce;weight^reset;."},
  "poisonResistance": {"base": 0, "pretty": "Poison protection", "colour": "00d900", "description": "How much ^#00d900;poison resistance^reset; you gain from ^#00ebce;weight^reset;."},
  "firePenalty": {"base": 1, "negative": true, "pretty": "Fire penalty", "colour": "ff8c00", "description": "How much ^#00ebce;weight^reset; affects the ^green;energy^reset; you lose from ^#ff8c00;fire damage^reset;."},
  "strainedThreshhold": {"base": 1, "pretty": "Strained threshhold", "colour": "f96aa6", "description": "How much ^#f96aa6;capacity^reset; needs to be filled for negative effects."},
  "strainedPenalty": {"base": 1, "negative": true, "pretty": "Strained penalty", "colour": "f96aa6", "description": "How much ^#1a87ed;movement speed^reset; and ^green;energy^reset; is lost from being over your ^#f96aa6;capacity^reset;."},
  "breastProduction": {"base": 0, "maxValue": 1, "pretty": "Milk production", "colour": "26aafc", "description": "How much ^#00ebce;absorbed^reset; ^#d5ab36;food^reset; is diverted to ^#26aafc;milk^reset;."},
  "breastCapacity": {"base": 1, "pretty": "Milk capacity", "colour": "26aafc", "description": "How much ^#26aafc;milk^reset; you can store in your breasts."},
  "breastEfficiency": {"base": 1, "pretty": "Milk efficiency", "colour": "26aafc", "description": "How efficiently you convert ^#00ebce;absorbed^reset; ^#d5ab36;food^reset; into ^#26aafc;milk^reset;."}
}

// PARAMETERS
// "base": The base value of the stat.
// "pretty": Stat name to actually display so it looks nice.
// "colour": What colour to use when display the stat name..
// "maxValue": Maximum value (cap) of the stat.
// "negative": Makes increasing the stat get treated as bad, and decreasing as good for colours.
// "invertDescriptor": Swaps "reduced by" and "increased by" and +/-. i.e. the fall damage reduction shows "Bonus Fall Damaged reduced by"
// "description": Verbose description to explain what the stat actually does.
