{
  "tabs": [
    {
      "id": "features",
      "description": "Feature Options",
      "icon": "features.png"
    },
    {
      "id": "visuals",
      "description": "Visual Options",
      "icon": "visuals.png"
    },
    {
      "id": "sounds",
      "description": "Sound Options",
      "icon": "sounds.png"
    },
    {
      "id": "vore",
      "description": "Vore Options",
      "icon": "vore.png"
    }
    // Also an miscellaneous tab, but it's added in-script to make sure it appears at the bottom.
  ],
  "options": [
    {
      "name": "disableHunger",
      "pretty": "^#4bce3a;Disable Hunger",
      "description": "Prevent the hunger bar from draining.\n^#d5ab36aa;Hunger^gray; reduced by ^green;100%\n^#d5ab36aa;Hunger^gray; penalties reduce ^#b8eb00aa;Experience^gray;.",
      "footer": "\n^#ccbbff;StarPounds^gray; enables hunger on ^#4bce3a;Casual^gray;, you can disable it again using this.",
      "statModifiers": [["absorption", -0.25]],
      "tab": "features"
    },
    {
      "name": "disableGurgles",
      "pretty": "^#b8eb00;Disable Gurgles",
      "description": "Disables loud gurgles that rapidly digest food.",
      "statModifiers": [["digestion", 0.1]],
      "tab": "features"
    },
    {
      "name": "disableSizeMeter",
      "pretty": "^#1a87ed;Disable Size Meter",
      "description": "Disables the size meter from being shown in the status bar.",
      "statModifiers": [["weightGain", 0.1]],
      "tab": "features"
    },
    {
      "name": "disableStomachMeter",
      "pretty": "^#1a87ed;Disable Stomach Meter",
      "description": "Disables the stomach meter from being shown in the status bar.",
      "statModifiers": [["capacity", 0.1]],
      "tab": "features"
    },
    {
      "name": "breastMeter",
      "pretty": "^#1a87ed;Enable Breast Meter",
      "description": "Enables the breast meter being shown in the status bar.",
      "tab": "features"
    },
    {
      "name": "disableDrinking",
      "pretty": "^#1a87ed;Disable Drinking",
      "description": "Disable drinking of liquids at mouth level.",
      "group": "drinkMode",
      "tab": "features"
    },
    {
      "name": "universalDrinking",
      "pretty": "^#1a87ed;Universal Drinking",
      "description": "Allows you to drink non-edible liquids at mouth level.",
      "group": "drinkMode",
      "tab": "features"
    },
    {
      "name": "disableLoss",
      "pretty": "^#1a87ed;Disable Weight Loss",
      "description": "Prevents you from losing weight.",
      "statModifiers": [["weightGain", -0.75]],
      "tab": "features"
    },
    {
      "name": "disableGain",
      "pretty": "^#1a87ed;Disable Weight Gain",
      "description": "Prevents you from gaining weight.",
      "statModifiers": [["weightLoss", -0.75]],
      "tab": "features"
    },
    {
      "name": "disableHitbox",
      "pretty": "^#1a87ed;Disable Hitbox",
      "description": "Disables the hitbox changes when gaining weight (Excluding blob).",
      "statModifiers": [["health", -0.5]],
      "tab": "features"
    },
    {
      "name": "disableTileDamage",
      "pretty": "^#1a87ed;Disable Tile Damage",
      "description": "Prevents fat-related effects from damaging tiles.",
      "tab": "features"
    },
    {
      "name": "disableBlob",
      "pretty": "^#1a87ed;Disable Blob",
      "description": "Prevents you from reaching the blob and immobile weight stages.",
      "tab": "features"
    },
    {
      "name": "disableBlobCollision",
      "pretty": "^#1a87ed;Disable Blob Collision",
      "description": "Disables the blob platform geometry.\n^gray;Turning this off disables the item magnet.",
      "tab": "features"
    },
    {
      "name": "disableBlobDoors",
      "pretty": "^#1a87ed;Disable Blob Door Opening",
      "description": "Disables automatically closing and opening doors at blob size.\n^gray;Feature can be unreliable on servers, and may impact performance.",
      "tab": "features"
    },
    {
      "name": "disableMilkGain",
      "pretty": "^#ffe5d9;Disable Milk Gain",
      "description": "Prevents you gaining milk from all sources.",
      "tab": "features"
    },
    {
      "name": "disableLeaking",
      "pretty": "^#ffe5d9;Disable Leaking",
      "description": "Disables automatic lactation from all sources.",
      "tab": "features"
    },
    {
      "name": "disableBelchParticles",
      "pretty": "^#b8eb00;Disable Belch Particles",
      "description": "Disables rendering particles when belching.",
      "tab": "visuals"
    },
    {
      "name": "topHeavy",
      "pretty": "^#1a87ed;Top Heavy",
      "description": "Increases your chest size by 1 stage.",
      "group": "bodyType",
      "tab": "visuals"
    },
    {
      "name": "extraTopHeavy",
      "pretty": "^#1a87ed;Top Heavy ++",
      "description": "Increases your chest size by 2 stages.",
      "group": "bodyType",
      "tab": "visuals"
    },
    {
      "name": "bottomHeavy",
      "pretty": "^#1a87ed;Bottom Heavy",
      "description": "Increases your leg size by 1 stage.",
      "group": "bodyType",
      "tab": "visuals"
    },
    {
      "name": "extraBottomHeavy",
      "pretty": "^#1a87ed;Bottom Heavy ++",
      "description": "Increases your leg size by 2 stages.",
      "group": "bodyType",
      "tab": "visuals"
    },
    {
      "name": "stuffed",
      "pretty": "^#f96aa6;Stuffed Stomach",
      "description": "Your stomach is always slightly full.",
      "group": "bodyVariant",
      "tab": "visuals"
    },
    {
      "name": "filled",
      "pretty": "^#f96aa6;Filled Stomach",
      "description": "Your stomach is always very full.",
      "group": "bodyVariant",
      "tab": "visuals"
    },
    {
      "name": "gorged",
      "pretty": "^#f96aa6;Gorged Stomach",
      "description": "Your stomach is always extremely full.",
      "group": "bodyVariant",
      "tab": "visuals"
    },
    {
      "name": "disableStomachGrowth",
      "pretty": "^#f96aa6;Disable Stomach Growth",
      "description": "Disables gaining stomach size from eaten food.",
      "tab": "visuals"
    },
    {
      "name": "busty",
      "pretty": "^#ffe5d9;Busty Chest",
      "description": "Increases your bust size.",
      "group": "bodyVariant",
      "tab": "visuals"
    },
    {
      "name": "milky",
      "pretty": "^#ffe5d9;Milky Chest",
      "description": "Increases your bust size significantly.",
      "group": "bodyVariant",
      "tab": "visuals"
    },
    {
      "name": "hyper",
      "pretty": "^#ffe5d9;Hyper Chest",
      "description": "Increases your bust size significantly, and hides your stomach.",
      "group": "bodyVariant",
      "tab": "visuals"
    },
    {
      "name": "disableBreastGrowth",
      "pretty": "^#ffe5d9;Disable Breast Growth",
      "description": "Disables gaining breast size from stored milk.",
      "tab": "visuals"
    },
    {
      "name": "disableSound",
      "pretty": "^#1a87ed;Disable All Sounds",
      "description": "Disables all ^#ccbbff;StarPounds^reset; sounds originating from the player.",
      "tab": "sounds"
    },
    {
      "name": "quietSounds",
      "pretty": "^#1a87ed;Quieter Sounds",
      "description": "Reduces the volume of ^#ccbbff;StarPounds^reset; sounds by half.",
      "tab": "sounds"
    },
    {
      "name": "disableBelches",
      "pretty": "^#b8eb00;Disable Belch Sounds",
      "description": "Disable belching from bloat, drinking liquids, and vore.\n^gray;Also disables belch particles.\nSkills still work, but have no visuals.",
      "group": "belchType",
      "tab": "sounds"
    },
    {
      "name": "higherBelches",
      "pretty": "^#b8eb00;High-Pitched Belch Sounds",
      "description": "Makes all belches higher pitched.",
      "group": "belchType",
      "tab": "sounds"
    },
    {
      "name": "deeperBelches",
      "pretty": "^#b8eb00;Low-Pitched Belch Sounds",
      "description": "Makes all belches deeper.",
      "group": "belchType",
      "tab": "sounds"
    },
    {
      "name": "disableGurgleSounds",
      "pretty": "^#b8eb00;Disable Gurgle Sounds",
      "description": "Disables sound from gurgles that rapidly digest food.",
      "tab": "sounds"
    },
    {
      "name": "disableRumbles",
      "pretty": "^#b8eb00;Disable Rumble Sounds",
      "description": "Disable quiet rumbles from having food in your stomach.",
      "tab": "sounds"
    },
    {
      "name": "disableStruggleSounds",
      "pretty": "^#cc164a;Disable Struggle Sounds",
      "description": "Disable struggling sounds from entities you eat.",
      "tab": "sounds"
    },
    {
      "name": "disablePred",
      "pretty": "^#cc164a;Disable Pred",
      "description": "Prevents you from eating other entities.",
      "tab": "vore"
    },
    {
      "name": "disablePredDigestion",
      "pretty": "^#cc164a;Disable Pred Digestion",
      "description": "Prevents you from digesting eaten entities.",
      "statModifiers": [["struggleResistance", 0.5]],
      "tab": "vore"
    },
    {
      "name": "disablePrey",
      "pretty": "^#b8eb00;Disable Prey",
      "description": "Prevents you from being eaten.",
      "tab": "vore"
    },
    {
      "name": "disablePreyDigestion",
      "pretty": "^#b8eb00;Disable Prey Digestion",
      "description": "Prevents you from losing health while eaten.",
      "tab": "vore"
    },
    {
      "name": "spectatePred",
      "pretty": "^#b8eb00;Spectate Pred",
      "description": "When digested, makes you spectate the pred.",
      "tab": "vore"
    },
    {
      "name": "disableEscape",
      "pretty": "^#b8eb00;Disable Escape",
      "description": "Disables escaping when eaten.\n^gray;Useful for Roleplay.",
      "tab": "vore"
    },
    {
      "name": "admin",
      "pretty": "^#ccbbff;Admin Features",
      "description": "Enables size changing, extra debug info and free skills.\n^gray;Identical to ^#665599;/admin^gray;, but only for ^#ccbbff;StarPounds^gray;.",
      "tab": "miscellaneous"
    },
    {
      "name": "lowerTraitTab",
      "pretty": "^#ccbbff;Lower Trait Tab",
      "description": "Traits always appears as the last skill menu tab.\n^gray;Automatic after selecting a trait.\nUse this if you don't plan on selecting a trait at all.",
      "tab": "miscellaneous"
    },
    {
      "name": "showDebug",
      "pretty": "^#ccbbff;Debug Mode",
      "description": "Show ^#ccbbff;StarPounds^reset; data inside the debug menu and other places.",
      "footer": "^#665599;Nerdiness^gray; increased by ^green;100%\n\n^gray;View by using the ^#665599;/debug^gray; command.",
      "tab": "miscellaneous"
    }
  ]
}
