{
  "selectableTraits": [
    "acidic",
    "bubbly",
    "celestial",
    "glutton",
    "insulated",
    "milky",
    "predator",
    "ruminant",
    "scaled",
    "scavenger",
    "stalwart",
    "voltaic",
    "whale"
  ],
  "traits": {
    "default": {
      "description": "Default",
      "weight": 0,
      "breasts": 0,
      "experience": 0,
      "stats": [],
      "skills": [],
      "items": []
    },
    "none": {
      "idOverride": "default",
      "description": "None",
      "stats" : [ ["experienceMultiplier", "add", 0.25] ]
    },
    // Unique
    "acidic": {
      "description": "Acidic",
      "stats": [
        ["digestion", "mult", 1.25],
        ["bloatDigestion", "mult", 1.25],
        ["voreDamage", "mult", 1.25],
        ["absorption", "mult", 0.8]
      ]
    },
    "bubbly": {
      "description": "Bubbling",
      "stats": [
        ["gurgleRate", "mult", 3],
        ["belchChance", "add", 0.25],
        ["gurgleAmount", "mult", 0.5],
        ["bloatAmount", "mult", 1.25]
      ]
    },
    "celestial": {
      "description": "Celestial",
      "stats": [
        ["deathPenalty", "sub", 0.2],
        ["healing", "mult", 1.5],
        ["fallDamageResistance", "add", 0.4],
        ["health", "mult", 0.8]
      ]
    },
    "glutton": {
      "description": "Glutton",
      "weight": 400,
      "skills": [
        ["wellfedProtection", 1]
      ],
      "stats": [
        ["capacity", "mult", 1.5],
        ["strainedPenalty", "sub", 0.25],
        ["hunger", "mult", 1.5],
        ["foodValue", "sub", 0.25]
      ]
    },
    "insulated": {
      "description": "Insulated",
      "weight": 600,
      "stats": [
        ["health", "mult", 1.25],
        ["iceResistance", "add", 0.2],
        ["movement", "sub", 0.1]
      ],
      "skills": [
        ["iceImmunity", 1]
      ]
    },
    "milky": {
      "description": "Milky",
      "breasts": 20,
      "stats": [
        ["breastProduction", "add", 0.25],
        ["breastCapacity", "add", 1],
        ["breastEfficiency", "add", 0.25]
      ]
    },
    "predator": {
      "description": "Predator",
      "stats": [
        ["voreDamage", "mult", 1.5],
        ["voreArmorPiercing", "add", 10],
        ["hunger", "mult", 1.5]
      ],
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1]
      ],
      "items": ["voretool"]
    },
    "ruminant": {
      "description": "Ruminant",
      "weight": 400,
      "stats": [
        ["capacity", "mult", 1.25],
        ["absorption", "mult", 1.25],
        ["metabolism", "mult", 0.75],
        ["foodValue", "add", 0.5],
        ["digestion", "mult", 0.25]
      ],
      "skills": [
        ["preventStarving", 1]
      ]
    },
    "scaled": {
      "description": "Scaled",
      "weight": 600,
      "stats": [
        ["health", "mult", 1.25],
        ["firePenalty", "mult", 0.5],
        ["movement", "sub", 0.1]
      ]
    },
    "scavenger": {
      "description": "Scavenger",
      "stats": [
        ["movement", "add", 0.1],
        ["hunger", "mult", 0.5],
        ["foodValue", "add", 0.25],
        ["metabolism", "mult", 1.25]
      ],
      "skills": [
        ["preventStarving", 1],
        ["voreCritter", 1]
      ],
      "items": ["voretool"]
    },
    "stalwart": {
      "description": "Stalwart",
      "weight": 1000,
      "stats": [
        ["health", "mult", 1.5],
        ["knockbackResistance", "add", 0.25],
        ["movement", "sub", 0.1]
      ]
    },
    "voltaic": {
      "description": "Voltaic",
      "stats": [
        ["digestionEnergy", "add", 2],
        ["absorption", "mult", 0.75]
      ]
    },
    "whale": {
      "description": "Landwhale",
      "weight": 2000,
      "stats": [
        ["health", "mult", 2],
        ["metabolism", "mult", 0.5],
        ["movement", "sub", 0.25]
      ]
    },
    // Species (Small bonuses)
    "apex": {
      "description": "Apex",
      "stats": [
        ["health", "mult", 1.25],
        ["movement", "add", 0.1],
        ["capacity", "mult", 0.8]
      ]
    },
    "avian": {
      "description": "Avian",
      "stats": [
        ["movement", "add", 0.1],
        ["jumpPenalty", "sub", 0.25],
        ["health", "mult", 0.8]
      ]
    },
    "floran": {
      "description": "Floran",
      "stats": [
        ["digestion", "mult", 1.25],
        ["capacity", "mult", 1.25],
        ["absorption", "mult", 0.8]
      ],
      "skills": [
        ["voreCritter", 1]
      ],
      "items": ["voretool"]
    },
    "glitch": {
      "description": "Glitch",
      "stats": [
        ["health", "mult", 1.25],
        ["knockbackResistance", "add", 0.25],
        ["movement", "sub", 0.05]
      ]
    },
    "human": {
      "description": "Human",
      "stats": [
        ["experienceMultiplier", "add", 0.25]
      ]
    },
    "hylotl": {
      "description": "Hylotl",
      "stats": [
        ["absorption", "mult", 1.25],
        ["swimPenalty", "sub", 0.25],
        ["health", "mult", 0.8]
      ]
    },
    "novakid": {
      "description": "Novakid",
      "stats": [
        ["digestion", "mult", 1.25],
        ["digestionEnergy", "add", 0.5],
        ["absorption", "mult", 0.8]
      ]
    },
    "fenerox": {
      "description": "Fenerox",
      "stats": [
        ["hunger", "mult", 0.5],
        ["metabolism", "mult", 0.8],
        ["capacity", "mult", 0.8]
      ]
    },
    "shadow": {
      "description": "Shadow",
      "stats": [
        ["movement", "add", 0.2],
        ["health", "mult", 0.8]
      ],
      "skills": [
        ["preventImmobile", 1]
      ]
    },
    // StarPounds species (Larger bonuses)
    "throg": {
      "description": "Throg",
      "stats": [
        ["digestion", "mult", 1.5],
        ["capacity", "mult", 1.5],
        ["hunger", "mult", 1.25]
      ],
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["wellfedProtection", 1]
      ],
      "items": ["voretool"]
    },
    "mootant": {
      "description": "Mootant",
      "stats": [
        ["absorption", "mult", 1.25],
        ["breastCapacity", "mult", 2],
        ["breastEfficiency", "mult", 2],
        ["hunger", "mult", 1.25]
      ],
      "skills": [
        ["breastProduction", 5]
      ]
    },
    // NPCs
    "npc_gluttonistChampion": {
      "description": "Gluttonist Champion",
      "skills": [
        ["absorption", 20],
        ["capacity", 20],
        ["digestion", 20],
        ["health", 20],
        ["movement", 20],
        ["gurgleRate", 5],
        ["gurgleAmount", 5],
        ["bloatDigestion", 5],
        ["bloatAmount", 3],
        ["healing", 5],
        ["knockbackResistance", 5],
        ["poisonResistance", 3],
        ["strainedPenalty", 5],
        ["wellfedProtection", 1],
        ["preventImmobile", 1],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["voreFriendly", 1],
        ["regurgitateSlimeStatus", 1],
        ["voreDamage", 5]
      ]
    },
    "npc_gluttonistVeteran": {
      "description": "Gluttonist Veteran",
      "skills": [
        ["absorption", 10],
        ["capacity", 10],
        ["digestion", 10],
        ["health", 15],
        ["movement", 10],
        ["gurgleRate", 3],
        ["gurgleAmount", 3],
        ["bloatDigestion", 3],
        ["healing", 3],
        ["knockbackResistance", 3],
        ["poisonResistance", 1],
        ["strainedPenalty", 3],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["voreFriendly", 1],
        ["voreDamage", 5]
      ]
    },
    "npc_gluttonist": {
      "description": "Gluttonist",
      "skills": [
        ["absorption", 5],
        ["capacity", 5],
        ["digestion", 5],
        ["health", 10],
        ["movement", 5],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreDamage", 3]
      ]
    },
    "npc_predator": {
      "description": "Voracious",
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["voreFriendly", 1],
        ["strainedPenalty", 5]
      ]
    },
    "npc_alphaPredator": {
      "description": "Voracious",
      "skills": [
        ["absorption", 20],
        ["capacity", 20],
        ["digestion", 20],
        ["health", 20],
        ["movement", 20],
        ["gurgleRate", 5],
        ["gurgleAmount", 5],
        ["bloatDigestion", 5],
        ["bloatAmount", 3],
        ["healing", 5],
        ["knockbackResistance", 5],
        ["strainedPenalty", 5],
        ["wellfedProtection", 1],
        ["preventImmobile", 1],
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["voreFriendly", 1],
        ["regurgitateSlimeStatus", 1],
        ["voreDamage", 5]
      ]
    },
    "mini": {
      "description": "Mini",
      "stats": [
        ["absorption", "mult", 1.25],
        ["capacity", "mult", 1.5],
        ["voreCooldown", "sub", 1],
        ["digestion", "mult", 0.8]
      ],
      "skills": [
        ["preventStarving", 1]
      ]
    },
    "sixfour": {
      "description": "Red Panda",
      "stats": [
        ["voreDamage", "mult", 1.25],
        ["capacity", "mult", 1.25],
        ["hunger", "mult", 1.25]
      ],
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["wellfedProtection", 1]
      ],
      "items": ["voretool"]
    }
  }
}
