{
  "default": {
    "weightGain": false,
    "fullbright": false,

    "weight": 120,
    "foodType": "prey",
    "experience": 50
  },
  "apex": { "weightGain": true },
  "avian": { "weightGain": true },
  "fenerox": { "weightGain": true },
  "floran": { "weightGain": true },
  "glitch": { "weightGain": true },
  "harpy": { "weightGain": true },
  "human": { "weightGain": true },
  "hylotl": { "weightGain": true },
  "mootant": { "weightGain": true },
  "penguin": { "weight": 50 },
  "novakid": { "weightGain": true, "fullbright": true, "appendDirectives": "?replace;ffffff=ffffff;" },
  "shadow": { "weightGain": true, "foodType": "preyInedible" },
  "throg": { "weightGain": true },
  "agaran": { "weightGain": true },
  "deadbeat": { "weightGain": true, "override": "human" },

  // Custom NPCs
  "mini": { "weightGain": true, "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "seirra": { "weightGain": true, "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "alipos": { "weightGain": true, "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "wubs": { "weightGain": true, "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "frehki": { "weightGain": true, "override": "avali", "prependDirectives": "?replace;786440=bbb89d;a2885c=ebdeb8;ccb07f=fcf4d1;42331c=95957f?replace;4e4e4e=ac9d71;787878=cab086;212121=5c5b44;3c3c3c=827c5d?replace;1b8d78=17688c;1c3b42=1c2f41;67ffa2=68e0fe;1ad589=1cb4d4?replace;1b8d78=17688c;1c3b42=1c2f41;67ffa2=68e0fe;1ad589=1cb4d4" },
  "leggs": { "weightGain": true, "override": "mootant" }
}

// EXAMPLE
// This would make the 'human' species use the 'avian' species' fat sprites instead,
// and apply some directives so that the avian sprite colours match the player's directives.
// When eaten by another entity, they would also take up 120 'space' in their stomach, and give:
// 12 food (weight * foodRatio)
// 108 bloat (weight * (1 - foodRatio))
// 50 experience points
//
//  "human": {
//    "weightGain": true,
//    "override": "avian",
//    "prependDirectives": "?replace;6f2919=951500;a85636=be1b00;e0975c=dc1f00;ffca8a=f32200;951500=c7815b;be1b00=d39c6c;dc1f00=ffc181;f32200=ffe2c5;",
//    "appendDirectives": "",
//
//    "weight": 120,
//    "foodRatio": 0.1,
//    "experience": 50
//  }
