{
  "pizzas": ["pizza", "starpounds64tbpizzap", "starpoundsgreasepizza", "starpoundschocolatepizza"],
  "sides": ["pizzaslice", "8gbpizzap", "starpoundsgreasepizzaslice", "starpoundspizzabagel", "starpoundsicecream", "starpoundschocolateicecream", "starpoundsstrawberryicecream", "starpoundsicecreamsandwich"],
  "drinks": ["soda", "oculemonade", "reefcola", "starpoundsbloatcola", "starpoundssoftdrink", "starpoundsheftycola", "starpoundsbloatcolavintage"]
}
