{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dust4/dust4.animation",
                "size" : 0.85,
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "size" : 0.15,
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/shockwave_physical_slam.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
