{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "title" : "Starpounds",
  "subtitle" : "Reset StarPounds",
  "message" : "Are you sure you want to reset?\n\nYou'll lose the following: \n· Any weight gained\n· All unlocked skills\n· All XP acquired",
  "okCaption" : "Reset",
  "cancelCaption" : "Cancel",
  "images" : {
    "portrait" : []
  }
}
