{
  "nameGen" : [
    { "mode" : "serie" },
    [ { "mode" : "markov", "titleCase" : true, "source" : "ancientgreek", "targetLength" : [3, 5] }],
    ["'s "],
    [ { "mode" : "alts" }, "Ring", "Band", "Eye"],
    [" of "],
    [ { "mode" : "alts" }, "Adipose", "Blubber", "Butter", "Buxom", "Chub", "Chunk", "Churning", "Corpulence", "Curves", "Dough", "Fat", "Flab", "Gurgling", "Heft", "Ingestion", "Lard", "Mass", "Paunch", "Pork", "Pudge", "Stoutness"]
  ]
}
