[
  // Devs
  { "type" : "starpoundsshydispatchvisitor", "species" : [ "human" ]  },
  { "type" : "starpoundsapplevisitor", "species" : [ "human" ]  },
  { "type" : "starpoundsblossomdancervisitor", "species" : [ "floran" ]  },
  // StarPounds Faction
  { "type" : "starpoundsgluttonistvisitor", "species" : [ "floran" ]  },
  { "type" : "starpoundsponderousvisitor", "species" : [ "glitch" ]  },
  { "type" : "starpoundsvelhanufollowervisitor", "species" : [ "avian" ]  },
  // Other
  { "type" : "starpoundsminiknogvisitor", "species" : [ "apex" ]  },
  { "type" : "starpoundstonauacvisitor", "species" : [ "avian" ]  },
  { "type" : "starpoundsminervisitor", "species" : [ "human" ]  },
  { "type" : "starpoundsmootantvisitor", "species" : [ "mootant" ]  },
  { "type" : "starpoundsscientistvisitor", "species" : [ "human", "avian", "apex", "floran", "glitch", "hylotl" ]  },
  { "type" : "starpoundschefvisitor", "species" : [ "human", "avian", "apex", "floran", "glitch", "hylotl" ]  },
  { "type" : "starpoundspenguinvisitor", "species" : [ "penguin" ]  },
  { "type" : "feneroxvisitor", "species" : [ "fenerox" ]  },
  { "type" : "froggvisitor", "species" : [ "hylotl" ]  },
  { "type" : "alpacavisitor", "species" : [ "human" ]  },
  // Custom / Cameo
  { "type" : "spacethumperpilotvisitor", "species" : [ "human" ]  },
  { "type" : "starpoundscuiavisitor", "species" : [ "avian" ]  },
  { "type" : "starpoundsdustyvisitor", "species" : [ "novakid" ]  },
  { "type" : "starpoundsmamvisitor", "species" : [ "human" ]  },
  { "type" : "starpoundsminivisitor", "species" : [ "human" ]  },
  { "type" : "starpoundsseirravisitor", "species" : [ "human" ]  },
  { "type" : "starpoundsaliposvisitor", "species" : [ "human" ]  },
  //{ "type" : "starpoundswubsvisitor", "species" : [ "human" ]  },
  { "type" : "starpoundssusiehaltmannvisitor", "species" : [ "human" ]  }
]
