{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie", "titleCase" : true },
      [ "Pjork", "Betty Lou", "Penelope", "Porkster", "Peppa", "Piggie", "Hogzilla", "Porkahontas", "Barbie Q", "Lardna", "Bratwurst", "Jiggles", "Pinky", "Harley", "Dorothy", "Bell", "Pixie", "Peggy", "Natasha", "Buttercup", "Hamlet", "Ollie", "Rumple", "Babe", "Dixie", "Daisy", "Tulip", "Salsa", "Tootsie", "Ginger", "Blossom", "Lola", "Cassidy", "Diva", "Wendy", "Squishy", "June", "Chloe", "Garnet", "Madison", "Melody", "Peaches", "Ursula", "Maple", "Loham", "Candy", "Kiki", "Felicia", "Duchess", "Maya", "Amy", "Gracie", "Porsche", "Sammy", "Ruby", "Ophelia", "Sadie", "Scarlet", "Pearl", "Bonnie" ]
    ]
  ]
}