{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie", "titleCase" : true },
      [ "Pjork", "Gordy", "Webber", "Porker", "Porkster", "Porky", "Pigsley", "Piggie", "Hogzilla", "Hammy", "Jerky", "Hamlet", "Hamilton", "Hams", "Pigasso", "George", "Porkeypine", "Napoleon", "Aloysius", "Pickey", "Hamhock", "Curly", "Hamdrix", "Chops", "Hoggie", "Pops", "Fritz", "Frankie", "Paunch", "Brutus", "Potsy", "Felix", "Danny", "Toby", "Marshall", "Wilbur", "Bert", "Hugo", "Doug", "Paxton", "Andy", "Bob", "Patches", "Hank", "Homer", "Mugsy", "Elmer", "Bubba", "Jerry", "Barney", "Jack", "Billy", "Larry", "Otis", "Ralph", "Rocco", "Bilbo", "Fabio", "Hector", "Dewy", "Flopper", "Biggy", "Chopper", "Gumby", "Jimmy", "Rocky", "Rusty", "Texas", "Quake", "Albert", "Chip" ]
    ]
  ]
}