{
  "nameGen" : [
    { "mode" : "serie" },
    [ { "mode" : "markov", "titleCase" : true, "source" : "ancientgreek", "targetLength" : [3, 5] }],
    ["'s "],
    [ { "mode" : "alts" }, "Adipose", "Blubber", "Butter", "Buxom", "Chub", "Chunk", "Churning", "Corpulent", "Curvy", "Doughy", "Fat", "Flabby", "Gurgly", "Hefty", "Ingestion", "Lard", "Mass", "Paunch", "Pork", "Pudge", "Stout"],
    [" "],
    [ { "mode" : "alts" }, "Ankh", "Totem", "Trinket", "Charm", "Emblem"]
  ]
}
