{
  "scriptDelta" : 20,
  // Liquids and their respective food values.
  // Values are the percent (1 = 100%) of volume added as food. The rest is added as bloat.
  "drinkableVolume": 10,
  "drinkables": {
    "sb_tentaclejuice": 0.1,
    "milk": 0.25,
    "sb_alienjuice": 0.25,
    "sb_coffee": 0.25,
    "slimeliquid": 0.5,
    "jellyliquid": 0.5,
    "starpoundssodaliquid": 0.5,
    "starpoundschocolateliquid": 0.5,
    "starpoundscreamliquid": 0.5,
    "greaseliquid": 0.75,
    "bees_liquidhoney": 0.75,
    "starpoundscaloriumliquid": 1
  }
}
