{
  "scriptDelta" : 0,
  // Liquids and their respective food values.
  // Values are the percent (1 = 100%) of volume added as food. The rest is added as bloat.
  "liquids": {
    "default": {"liquid": 10},
    "sb_tentaclejuice": {"liquid": 9, "liquidFood": 1},
    "milk": {"liquid": 7.5, "liquidFood": 2.5},
    "sb_alienjuice": {"liquid": 7.5, "liquidFood": 2.5},
    "sb_coffee": {"liquid": 7.5, "liquidFood": 2.5},
    "slimeliquid": {"liquid": 5, "liquidFood": 5},
    "jellyliquid": {"liquid": 5, "liquidFood": 5},
    "starpoundssodaliquid": {"liquid": 5, "liquidFood": 5},
    "starpoundschocolateliquid": {"liquid": 5, "liquidFood": 5},
    "starpoundscreamliquid": {"liquid": 5, "liquidFood": 5},
    "greaseliquid": {"liquid": 2.5, "liquidFood": 7.5},
    "bees_liquidhoney": {"liquid": 2.5, "liquidFood": 7.5},
    "starpoundscaloriumliquid": {"liquidFood": 10}
  }
}
