{
  "scriptDelta" : 1,
  // How many ticks to offset the footstep thump sound timer. Weird but it works.
  "footstepTimerOffset": 2,
  // Sound volume bounds.
  "minimumStepVolume": 0.3,
  "maximumStepVolume": 1,
  "minimumSloshVolume": 0.1,
  "maximumSloshVolume": 0.4,
  // Slosh volume multipliers.
  "sloshWeightMult": 0.15,
  "sloshStomachMult": 0.25,
  // Landing sound.
  "landingSoundVolume": 1.25,
  "landingSoundPitch": 0.75
}
