{
  "scriptDelta" : 10,
  "energy": 30, // How much energy it takes to eat an entity. (Scales with size)
  "energyBase": 5, // Base amount of energy it takes to eat an entity.
  "inescapableHealth": 0.25, // HP threshold for being unable to escape. (Non-players)
  "playerEscape": 0.1, // Chance for a player to escape on a struggle no matter what.
  "struggleEnergyBase": 5, // How much base energy any struggles reduce.
  "struggleEnergy": 25, // How much energy (affected by struggle chance) struggles reduce.
  "struggleEnergyLock": 0.25, // Multiplier for normal energy lockout time struggles cause. (when out of energy)
  "critterEnergyMultiplier": 0.25, // Energy multiplier for eating critters. (Does not affect base eating cost)
  // Behaviours to check for in monsters when attempting to eat.
  // If you add something here, you need to patch the actual behaviour file too.
  "critterBehaviors": ["blooping", "flyingcritter", "swimming", "walkingcritter", "farmablebaby"],
  "monsterBehaviors": ["monster", "farmable", "thea-monster-passive" ]
}
