{
  "scriptDelta" : 1,
  "heartbeat": 0.5, // How often to 'confirm' with pred that the entity is actually eaten.
  "playerBreathMultiplier": 0.5, // How fast players lose air when eaten. (Compared to normal breath depletion rate)
  "monsterStruggleMultiplier": 0.75, // Multiplier for monster struggles. (Same base scaling as NPCs, but set lower here because they're 'weaker' for vore purposes)
  "critterStruggleMultiplier": 0.25 // Multiplier for critter struggles.
}
