{
  "scriptDelta" : 1,
  // Slosh Stuffs.
  "sloshTimer": 0.25, // Time between sloshes.
  "minimumSloshTimer": 0.15, // Minimum time between sloshes. Going this fast reduces the effectiveness of each slosh so it's on par with the regular timer.
  "sloshDigestion": 0.5, // Seconds of extra digestion caused by a slosh.
  "sloshPercent": 0.1, // sloshPercent * (gurgleTime or rumbleTime) = Gurgle and rumble timer reduction caused by a slosh.
  "sloshEnergy": 10,
  "sloshEnergyLock": 0.25, // Multiplier for normal energy lockout time sloshes cause.
  "sloshActivationCount": 3, // How many 'windup' crouches before sloshing is activated.
  "sloshDeactivateTimer": 1 // How long to wait before resetting slosh windup.
}
