{
  "scriptDelta" : 30,
  // Status effects that multiply the effective total.
  "multipliers": {
    "intents": { "digestion": 1.2, "bloatDigestion": 1.2, "voreDamage": 1.2 },
    "bed1": { "digestion": 1.2, "bloatDigestion": 1.2, "voreDamage": 1.2 },
    "bed2": { "digestion": 1.4, "bloatDigestion": 1.4, "voreDamage": 1.4 },
    "bed3": { "digestion": 1.6, "bloatDigestion": 1.6, "voreDamage": 1.6 },
    "bed4": { "digestion": 1.8, "bloatDigestion": 1.8, "voreDamage": 1.8 },
    "bed5": { "digestion": 2.0, "bloatDigestion": 2.0, "voreDamage": 2.0 },
    "hungry": { "digestion": 1.5, "bloatDigestion": 1.5, "voreDamage": 1.5, "voreCooldown": 0.5, "capacity": 1.5 },
    "starving": { "digestion": 3, "bloatDigestion": 3, "voreDamage": 3, "voreCooldown": 0.25, "capacity": 3 },
    "foodpoison": { "absorption": 0.5, "healing": 0 },
    "erchiusbloat": { "bloatDigestion": 0 },
    "bottlederchiusbloat": { "bloatDigestion": 0 },
    "erchiusbloatrain": { "bloatDigestion": 0 },
    "treadmill": { "metabolism": 0 },
    "starpoundsmissionmobility": { "jumpPenalty": 0.5 },
    "starpoundstechmissionmobility": { "jumpPenalty": 0 },
    "starpoundsdrinking": { "belchChance": 0 }
  },
  // Status effects that change a flat amount.
  "bonuses": {
    "intents": { "rumbleRate": 5 },
    "bed1": { "rumbleRate": 5 },
    "bed2": { "rumbleRate": 5 },
    "bed3": { "rumbleRate": 5 },
    "bed4": { "rumbleRate": 5 },
    "bed5": { "rumbleRate": 5 },
    "digesting": { "digestion": 4, "bloatDigestion": 4, "voreDamage": 2, "gurgleRate": 4, "baseRumbleRate": 10, "belchChance": 0.25 },
    "hungry": { "baseRumbleRate": 5 },
    "starving": { "baseRumbleRate": 10 },
    "lactaidoverdrive": { "breastCapacity": 3 },
    "treadmill": { "metabolism": 100 },
    "starpoundstechmissionmobility": { "movement": 10 }
  }
}
