{
  "scriptDelta" : 1,
  // % Energy cost/second/effort when strained.
  "energyCost": 0.25,
  // Base strain penalty.
  "penalty": 0.25,
  // Movement penalty for being strained, based on energy.
  "scalingPenalty": 0.25,
  // 'Effort' for straining to occur.
  "effortThreshold": 0.5,
  // How many seconds/second to reduce the rumble timer by when moving and strained.
  "rumbleBonus": 3
}
